<!doctype html>
  <html class="no-js full-height" lang="{{ request.locale.iso_code }}">
    <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width,initial-scale=1">
      <meta name="theme-color" content="">
      <link rel="canonical" href="{{ canonical_url }}">
      <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>
  
      {%- if settings.favicon != blank -%}
        <link rel="icon" type="image/png" href="{{ settings.favicon | image_url: width: 32, height: 32 }}">
      {%- endif -%}
  
      <title>
        {{ page_title }}
        {%- if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif -%}
        {%- if current_page != 1 %} &ndash; Page {{ current_page }}{% endif -%}
        {%- unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless -%}
      </title>
      {% if page_description %}
        <meta name="description" content="{{ page_description | escape }}">
      {% endif %}
      {{ content_for_header }}
      <script>
        document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
        if (typeof Shopify !== 'undefined' && Shopify.designMode) {
          document.documentElement.classList.add('shopify-design-mode');
        }
      </script>
      {%- render 'head-assets' -%}
      {{ 'reset.css' | asset_url | stylesheet_tag }}
      {{ 'utilities.css' | asset_url | stylesheet_tag }}
      {{ 'template-giftcard.css' | asset_url | stylesheet_tag }}
      {{ 'popup.css' | asset_url | stylesheet_tag }}
  
      <script>
        document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
      </script>
      <script src="{{ 'global.js' | asset_url }}" defer="defer"></script>
      <script src="{{ 'theme.js' | asset_url }}" defer="defer"></script>
      <script src="{{ 'easydlg.min.js' | asset_url }}" defer="defer"></script>
      <script src="{{ 'details-modal.js' | asset_url }}" defer="defer"></script>
      <script src="{{ 'password-modal.js' | asset_url }}" defer="defer"></script>
    {% include 'pagefly-app-header' %}</head>
    <body class="password gradient overflow-hidden">
      <main id="MainContent" class="password-main">
        {{ content_for_layout }}
      </main>
      <div class="password-modal__content" tabindex="-1">
        <div class="content__password" data-title="{{ 'general.password_page.login_form_heading' | t }}">
            {%- form 'storefront_password', class: 'password-form' -%}
                <div class="form-field form-group  mb-15 d-flex flex-column">
                    <input
                        type="password"
                        name="password"
                        id="Password"
                        class="form-input form-input-placeholder"
                        autocomplete="current-password"
                        {% if form.errors %}
                            aria-invalid="true"
                            aria-describedby="PasswordLoginForm-password-error"
                        {%- endif -%}
                        placeholder="{{ 'general.password_page.login_form_password_placeholder' | t }}"
                        >
                </div>
                
                {%- if form.errors -%}
                <div id="PasswordLoginForm-password-error" role="status">
                    <span class="visually-hidden">{{ 'accessibility.error' | t }}</span>
                    <span class="form__message">
                    {{ 'general.password_page.login_form_error' | t -}}
                    </span>
                </div>
                {%- endif -%}
                <div class="form-actions auth-actions mt-15 mb-10 d-flex flex-column text-center">
                    <button name="commit" class="button button-login btn btn-primary">
                        {{ 'general.password_page.login_form_submit' | t }}
                    </button>
                </div>
                {%- endform -%}
                <small class="password__footer-text">{{ 'general.password_page.admin_link_html' | t }}</small>
        </div>
    </div>
    {%- render 'content-bottom' -%}
  
      <script defer="defer">
        var umino_app = {
        shop: '{{ shop.permanent_domain }}',
        domain: '{{ shop.domain }}',
        {%- if admin_vi == true -%}
          lic: '{{ settings.purchase_code }}',
          action: '{{ settings.purchase_code_action }}',
        {%- endif -%}
        mode: '{%- if admin_vi == true -%}admin{% else %}front{%- endif -%}',
        };
      </script>
    </body>
  </html>
<<<<<<< HEAD
  
=======
  
>>>>>>> 912169e (update from dev 7/7 all)
