{%- unless template == 'index' or template == 'list-collections' or template == '404' -%}
  {%- assign t = template | split: '.' | first -%}
  <nav class="breadcrumbs" role="navigation" aria-label="breadcrumbs">
    <ol class="bls__breadcrumb-list p-0 list-none my-0">
      <li class="bls__breadcrumb-item d-inline">
        <a class="bls__breadcrumb-link" href="/">{{ 'general.breadcrumb.home' | t }}</a>
        <span aria-hidden="true" class="bls__breadcrumb-separator pr-4">/</span>
      </li>
      {%- case t -%}
        {%- when 'page' -%}
          <li class="bls__breadcrumb-item d-inline">
            <span class="bls__breadcrumb-link" aria-current="page">{{ page.title }}</span>
          </li>
        {%- when 'product' -%}
          {%- if collection.url -%}
            <li class="bls__breadcrumb-item d-inline">
              {{ collection.title | link_to: collection.url }}
              <span aria-hidden="true" class="bls__breadcrumb-separator pr-4">/</span>
            </li>
          {% else %}
            {% if product.collections.size > 0 %}
              <li class="bls__breadcrumb-item d-inline">
                {{ product.collections.first.title | link_to: product.collections.first.url }}
                <span aria-hidden="true" class="bls__breadcrumb-separator pr-4">/</span>
              </li>
            {% endif %}
          {%- endif -%}
        
          <li class="bls__breadcrumb-item d-inline">
            <span class="bls__breadcrumb-link" aria-current="page">{{ product.title }}</span>
          </li>
        {%- when 'collection' and collection.handle -%}
          {%- if current_tags -%}
            <li class="bls__breadcrumb-item d-inline">
              {{ collection.title | link_to: collection.url }}
            </li>
            <li class="bls__breadcrumb-item d-inline">
              {%- capture tag_url -%}{{ collection.url }}/{{ current_tags | join: '+' }}{%- endcapture -%}
              <span aria-hidden="true" class="bls__breadcrumb-separator px-4">/</span>
              <span class="bls__breadcrumb-link" aria-current="page">
                {{- current_tags | join: ' + ' -}}
              </span>
            </li>
          {%- else -%}
            <li class="bls__breadcrumb-item d-inline">
              <span class="bls__breadcrumb-link" aria-current="page">
                {{- collection.title -}}
              </span>
            </li>
          {%- endif -%}
        {%- when 'blog' -%}
          {%- if current_tags -%}
            <li class="bls__breadcrumb-item d-inline">
              {{ blog.title | link_to: blog.url }}
            </li>
            <li class="bls__breadcrumb-item d-inline">
              {%- capture tag_url -%}{{ blog.url }}/tagged/{{ current_tags | join: '+' }}{%- endcapture -%}
              <span aria-hidden="true" class="bls__breadcrumb-separator px-4">/</span>
              <span class="bls__breadcrumb-link" aria-current="page">
                {{- current_tags | join: ' + ' -}}
              </span>
            </li>
          {%- else -%}
            <li class="bls__breadcrumb-item d-inline">
              <span class="bls__breadcrumb-link" aria-current="page">{{ blog.title }}</span>
            </li>
          {%- endif -%}
        {%- when 'article' -%}
          <li class="bls__breadcrumb-item d-inline">
            {{ blog.title | link_to: blog.url }}
          </li>
          <li class="bls__breadcrumb-item d-inline">
            <span aria-hidden="true" class="bls__breadcrumb-separator px-4">/</span>
            <span class="bls__breadcrumb-link" aria-current="page">{{ article.title }}</span>
          </li>
        {%- else -%}
          <li class="bls__breadcrumb-item d-inline">
            <span class="bls__breadcrumb-link" aria-current="page">{{ page_title }}</span>
          </li>
      {%- endcase -%}
    </ol>
  </nav>
{%- endunless -%}
