{%- liquid
  assign bst = block.settings
  assign st = section.settings
-%}
<div class="bls__lookbook-items" id="{{ block.id }}">
  <div class="bls__lookbook-image">
    {%- if bst.image != blank -%}
      {% render 'responsive-image', cls: ins_images_style, image: bst.image, aspect_ratio: aspect_ratio, custom_ratio: custom_ratio %}
    {%- else -%}
      {%- render 'responsive-image', cls: ins_images_style, aspect_ratio: aspect_ratio, custom_ratio: custom_ratio -%}
    {%- endif -%}
    {%- if type == 'ig_shop' -%}
      <span class="text-on-hover absolute right-10 top-10 d-flex content-center">
        <svg width="26" height="27" viewBox="0 0 26 27" fill="none" xmlns="http://www.w3.org/2000/svg">
          <rect y="0.998047" width="26" height="26" rx="13" fill="#111111"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M15.1875 10.7956C15.1875 9.51609 14.0882 8.4913 12.7856 8.61767L12.784 8.61782C11.7215 8.71699 10.8125 9.79364 10.8125 10.9064V11.4722C10.8125 11.7138 10.6166 11.9097 10.375 11.9097C10.1334 11.9097 9.9375 11.7138 9.9375 11.4722V10.9064C9.9375 9.39438 11.1398 7.89295 12.7019 7.74669C14.5256 7.57022 16.0625 9.00693 16.0625 10.7956V11.6006C16.0625 11.8422 15.8666 12.0381 15.625 12.0381C15.3834 12.0381 15.1875 11.8422 15.1875 11.6006V10.7956Z" fill="white"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M7.96787 12.1415C8.48436 11.5274 9.36987 11.2272 10.6666 11.2272H15.3333C16.6301 11.2272 17.5156 11.5274 18.0321 12.1415C18.5444 12.7505 18.5924 13.5511 18.5098 14.297L18.5091 14.3032L18.0721 17.7995C18.0076 18.3981 17.8565 19.0538 17.3223 19.5419C16.7908 20.0275 15.9673 20.2689 14.75 20.2689H11.25C10.0326 20.2689 9.2092 20.0275 8.6777 19.5419C8.1434 19.0538 7.99237 18.3981 7.92788 17.7994L7.49008 14.297C7.40754 13.5511 7.45555 12.7505 7.96787 12.1415ZM8.35949 14.1978L8.79755 17.7023C8.8558 18.2459 8.97646 18.6297 9.26787 18.8959C9.56325 19.1658 10.1223 19.3939 11.25 19.3939H14.75C15.8776 19.3939 16.4367 19.1658 16.7321 18.8959C17.0235 18.6297 17.1442 18.2459 17.2025 17.7023L17.2033 17.6946L17.6405 14.1977C17.7149 13.5219 17.6372 13.0313 17.3625 12.7047C17.0914 12.3825 16.5274 12.1022 15.3333 12.1022H10.6666C9.47258 12.1022 8.9085 12.3825 8.63749 12.7047C8.36273 13.0314 8.28509 13.5219 8.35949 14.1978Z" fill="white"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M14.4557 13.9981C14.4557 13.6759 14.7169 13.4147 15.039 13.4147H15.0443C15.3664 13.4147 15.6276 13.6759 15.6276 13.9981C15.6276 14.3202 15.3664 14.5814 15.0443 14.5814H15.039C14.7169 14.5814 14.4557 14.3202 14.4557 13.9981Z" fill="white"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M10.3718 13.9981C10.3718 13.6759 10.633 13.4147 10.9552 13.4147H10.9604C11.2826 13.4147 11.5437 13.6759 11.5437 13.9981C11.5437 14.3202 11.2826 14.5814 10.9604 14.5814H10.9552C10.633 14.5814 10.3718 14.3202 10.3718 13.9981Z" fill="white"/>
        </svg>
      </span>
    {%- endif -%}
  </div>
  <!-- Sharmi added (1..20) for 6 product, orginal (1..5)  2 for loops on this page remember -->
  {%- if type == 'ig_shop' -%}
    {%- for i in (1..20) -%}
      {% liquid
        assign position_top_ = 'position_top_' | append: i
        assign position_top = bst[position_top_]
        assign position_left_ = 'position_left_' | append: i
        assign position_left = bst[position_left_]
        assign product_ = 'product_' | append: i
        assign products = bst[product_]
      %}
      {%- if products != blank -%}
        {%- liquid
          assign product = all_products[products]
        -%}
        {%- if request.design_mode -%}
          <div
            class="bls__product-item {% if st.popup_type == 'popup_item' %}bls__lookbook-click{% endif %} absolute"
            style="top: {{ position_top }}%; left: {{ position_left }}%;transform: translate(-{{ position_left }}%,-{{ position_top }}%)"
            data-product-handle="{{ product.handle }}"
          >
            <a
              {% if st.action_click == 'fancybox' %}
                {%- if st.popup_type == 'popup_item' -%}
                  data-handle-click="{{ block.id }}-{{ i }}" class="lookbook-items-toggle lookbook-action"
                {%- else -%}
                  class="bls__product-quickview"
                {%- endif -%}
              {% else %}
                href="{{ product.url | within: collection }}"
              {% endif %}
            >
              <span class="icon-dot icon">
                <svg width="10" height="10" viewBox="0 0 10 10" fill="" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M5 0C4.44772 0 4 0.447715 4 1V4L1 4C0.447715 4 0 4.44771 0 5C0 5.55228 0.447715 6 1 6H4V9C4 9.55229 4.44772 10 5 10C5.55228 10 6 9.55228 6 9V6H9C9.55228 6 10 5.55229 10 5C10 4.44772 9.55228 4 9 4L6 4V1C6 0.447715 5.55228 0 5 0Z" fill=""></path>
                </svg>
              </span>
            </a>
          </div>
        {%- endif -%}
      {%- endif -%}
    {%- endfor -%}
  {%- else -%}
    {%- for i in (1..20) -%}
      {% liquid
        assign position_top_ = 'position_top_' | append: i
        assign position_top = bst[position_top_]
        assign position_left_ = 'position_left_' | append: i
        assign position_left = bst[position_left_]
        assign product_ = 'product_' | append: i
        assign products = bst[product_]
      %}
      {%- if products != blank -%}
        {%- liquid
          assign product = all_products[products]
        -%}
        <div
          class="bls__product-item {% if st.popup_type == 'popup_item' %}bls__lookbook-click{% endif %} absolute"
          style="top: {{ position_top }}%; left: {{ position_left }}%;transform: translate(-{{ position_left }}%,-{{ position_top }}%)"
          data-product-handle="{{ product.handle }}"
        >
          <a
            {% if st.action_click == 'fancybox' %}
              {%- if st.popup_type == 'popup_item' -%}
                data-handle-click="{{ block.id }}-{{ i }}" class="lookbook-items-toggle lookbook-action"
              {%- else -%}
                class="bls__product-quickview"
              {%- endif -%}
            {% else %}
             href="{{ product.url | within: collection }}"
            {% endif %}
          >
        {% comment %}
            {%- if st.dot_type == 'icon' -%}
              <span class="icon-dot icon">
                <svg width="10" height="10" viewBox="0 0 10 10" fill="" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M5 0C4.44772 0 4 0.447715 4 1V4L1 4C0.447715 4 0 4.44771 0 5C0 5.55228 0.447715 6 1 6H4V9C4 9.55229 4.44772 10 5 10C5.55228 10 6 9.55228 6 9V6H9C9.55228 6 10 5.55229 10 5C10 4.44772 9.55228 4 9 4L6 4V1C6 0.447715 5.55228 0 5 0Z" fill=""></path>
                </svg>
              </span>
            {%- else -%}
              <span class="icon-dot number">
                <span>{{ i }}</span>
              </span>
            {%- endif -%}
        {% endcomment %}
            <!-- sharmi add icon for carousel 30/10/2024 -->
             {%- if st.dot_type == 'icon' -%}
              <span class="icon-dot icon">
                <svg width="10" height="10" viewBox="0 0 10 10" fill="" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M5 0C4.44772 0 4 0.447715 4 1V4L1 4C0.447715 4 0 4.44771 0 5C0 5.55228 0.447715 6 1 6H4V9C4 9.55229 4.44772 10 5 10C5.55228 10 6 9.55228 6 9V6H9C9.55228 6 10 5.55229 10 5C10 4.44772 9.55228 4 9 4L6 4V1C6 0.447715 5.55228 0 5 0Z" fill=""></path>
                </svg>
              </span>
            {%- elsif st.dot_type == 'circle' -%}
              <span class="icon-dot circle">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="20" height="20">
                  <path d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm80 248c0 44.1-35.9 80-80 80s-80-35.9-80-80 35.9-80 80-80 80 35.9 80 80z"/>
                </svg>
              </span>
            {%- else -%}
              <span class="icon-dot number">
                <span>{{ i }}</span>
              </span>
            {%- endif -%}
          </a>
          {%- if st.popup_type == 'popup_item' -%}
            <div class="lookbook__popup-items items-{{ block.id }}-{{ i }} absolute transition">
              {%- render 'product-item' | product: product -%}
            </div>
          {%- endif -%}
        </div>
      {%- endif -%}
    {%- endfor -%}
  {%- endif -%}
</div>
