<ul class="bls__social-link m-0 pl-0 list-none flex">
  {%- if settings.social_twitter_link != blank -%}
    <li class="list-social__item d-inline-flex align-items-center">
      <a
        href="{{ settings.social_twitter_link }}" target="_blank" 
        class="link list-social__link lh-1 bls_tooltip px-6"
        aria-label="links"
      >
        <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
          <circle cx="15" cy="15" r="14.5" stroke="#555555"/>
          <path d="M20.6699 10.1753C20.1855 10.4746 19.656 10.6861 19.1039 10.801C18.6347 10.2878 17.9839 9.99819 17.3039 10.0001C15.9645 9.98959 14.8669 11.1062 14.8439 12.5028C14.8445 12.6967 14.8666 12.8899 14.9099 13.0785C12.9372 12.9814 11.0949 12.023 9.83392 10.4381C9.61823 10.8171 9.50232 11.2488 9.49794 11.6895C9.49799 12.5392 9.91147 13.3309 10.596 13.7918C10.2051 13.7786 9.82268 13.6692 9.47994 13.4727C9.47994 13.4727 9.47994 13.4727 9.47994 13.504C9.47602 14.7244 10.3048 15.7753 11.454 16.0068C11.0917 16.1075 10.7124 16.1224 10.344 16.0506C10.6753 17.0844 11.5968 17.787 12.642 17.8026C11.7719 18.5081 10.7021 18.8932 9.59998 18.8975C9.39945 18.8973 9.19908 18.8848 9 18.86C10.1291 19.6048 11.4379 19.9998 12.774 19.9988C16.5841 20.0714 19.7292 16.9092 19.7989 12.9359C19.7996 12.8938 19.8 12.8517 19.8 12.8095C19.8 12.701 19.8 12.5926 19.8 12.4841C20.2702 12.1247 20.6764 11.6821 21 11.1764C20.5496 11.3821 20.0724 11.517 19.584 11.5769C20.0976 11.2633 20.4838 10.7649 20.6699 10.1753Z" fill="#555555"/>
        </svg>
        <span class="bls_tooltip-content-bottom">{{ 'general.social.links.twitter' | t }}</span>
      </a>
    </li>
  {%- endif -%}
  {%- if settings.social_facebook_link != blank -%}
    <li class="list-social__item d-inline-flex align-items-center">
      <a
        href="{{ settings.social_facebook_link }}" target="_blank" 
        class="link list-social__link lh-1 bls_tooltip px-6"
        aria-label="links"
      >
        <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
          <circle cx="15" cy="15" r="14.5" stroke="#555555"/>
          <path d="M13.3334 11.6667V13H12V15H13.3334V21H16V15H17.7734L18 13H16V11.8334C16 11.2934 16.0533 11.0067 16.8866 11.0067H18V9H16.2134C14.08 9.00006 13.3334 10 13.3334 11.6667Z" fill="#555555"/>
        </svg>

        <span class="bls_tooltip-content-bottom">{{ 'general.social.links.facebook' | t }}</span>
      </a>
    </li>
  {%- endif -%}
  {%- if settings.social_pinterest_link != blank -%}
    <li class="list-social__item d-inline-flex align-items-center">
      <a
        href="{{ settings.social_pinterest_link }}" target="_blank" 
        class="link list-social__link lh-1 bls_tooltip px-6"
        aria-label="links"
      >
        <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
          <circle cx="15" cy="15" r="14.5" stroke="#555555"/>
          <path d="M14.8517 9.00102L14.0501 9.09674C13.5464 9.18721 13.0577 9.34214 12.5972 9.55732C11.5464 10.0853 10.7207 10.946 10.2613 11.9918C10.1994 12.1879 10.1513 12.3877 10.1173 12.5899C9.7663 13.7809 10.2194 15.0554 11.2571 15.796C11.4136 15.8857 11.7768 16.0533 11.8833 15.8319C11.9323 15.6962 11.966 15.5558 11.9835 15.4132C12.0439 15.2934 12.078 15.1632 12.0837 15.0304C12.0461 14.833 11.8269 14.7134 11.733 14.5519C11.5786 14.2263 11.4813 13.8787 11.4449 13.523V13.3495C11.4914 11.881 12.5697 10.6275 14.0689 10.299C14.5379 10.1779 15.0268 10.1434 15.5093 10.1973L16.2044 10.3109C16.9989 10.5091 17.6558 11.0418 17.9892 11.7585C18.2078 12.3726 18.2511 13.0312 18.1145 13.6666C18.0456 13.9417 18.0581 14.181 17.9704 14.4322C17.651 15.3594 17.1814 16.2267 16.123 16.454C15.5474 16.5977 14.9496 16.3109 14.7265 15.7841C14.6471 15.6239 14.6188 15.4451 14.6451 15.2697C14.8267 14.516 15.096 13.846 15.2713 13.0924C15.4873 12.5347 15.1892 11.9154 14.6053 11.709C14.5752 11.6983 14.5445 11.6889 14.5135 11.6808C13.7871 11.5133 13.2297 12.1593 13.0356 12.578C12.8541 13.0214 12.8106 13.5053 12.9104 13.9717C13.0161 14.1741 13.0919 14.3895 13.1358 14.6117C12.998 15.2099 12.8352 15.8081 12.6661 16.4062C12.497 17.0043 12.3906 17.6025 12.2152 18.2007C12.1338 18.4638 12.1401 18.745 12.0712 19.0201V19.4209C12.0278 19.7379 12.0427 20.0598 12.1151 20.3719C12.1527 20.5335 12.1151 20.7309 12.1777 20.8505C12.175 20.9035 12.1904 20.956 12.2216 21C12.4784 21 12.8478 20.348 12.9606 20.1626C13.2045 19.792 13.4141 19.4017 13.5868 18.9962C13.7559 18.6193 13.7809 18.2007 13.9125 17.7999C14.045 17.4697 14.1395 17.1267 14.1942 16.777C14.2755 16.9468 14.4116 17.0873 14.5825 17.1778C15.1837 17.5839 15.9362 17.7293 16.6554 17.5785C17.5299 17.4163 18.3156 16.9626 18.8723 16.2985C19.2508 15.8066 19.5427 15.2591 19.7365 14.6774C19.843 14.3784 19.8618 14.0434 19.9432 13.7264C20.0781 12.9505 19.9714 12.1539 19.6363 11.4355C18.9161 9.87432 17.3505 8.96514 14.8517 9.00102Z" fill="#555555"/>
        </svg>

        <span class="bls_tooltip-content-bottom">{{ 'general.social.links.pinterest' | t }}</span>
      </a>
    </li>
  {%- endif -%}
  {%- if settings.social_instagram_link != blank -%}
    <li class="list-social__item d-inline-flex align-items-center">
      <a
        href="{{ settings.social_instagram_link }}" target="_blank" 
        class="link list-social__link lh-1 bls_tooltip px-6"
        aria-label="links"
      >
        <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
          <circle cx="15" cy="15" r="14.5" stroke="#555555"/>
          <path d="M18.6 9H11.4C10.0745 9 9 10.0745 9 11.4V18.6C9 19.9255 10.0745 21 11.4 21H18.6C19.9255 21 21 19.9255 21 18.6V11.4C21.0001 10.0745 19.9255 9 18.6 9ZM17.4 10.8H19.2V12.6H17.4V10.8ZM15 12.6001C16.3255 12.6001 17.4 13.6746 17.4 15.0001C17.4 16.3255 16.3255 17.4 15 17.4C13.6745 17.4 12.6 16.3255 12.6 15.0001C12.6 13.6746 13.6745 12.6001 15 12.6001ZM19.8 18.6001C19.8 19.2628 19.2627 19.8001 18.6 19.8001H11.4C10.7373 19.8001 10.2 19.2628 10.2 18.6001V14.4H11.46C11.0996 16.3553 12.3926 18.2325 14.3479 18.5929C16.3032 18.9533 18.1804 17.6603 18.5408 15.705C18.5836 15.4725 18.6035 15.2364 18.6 15.0001C18.597 14.7987 18.577 14.598 18.54 14.4001H19.8V18.6001H19.8Z" fill="#555555"/>
        </svg>
        <span class="bls_tooltip-content-bottom">{{ 'general.social.links.instagram' | t }}</span>
      </a>
    </li>
  {%- endif -%}
  {%- if settings.social_tumblr_link != blank -%}
    <li class="list-social__item d-inline-flex align-items-center">
      <a
        href="{{ settings.social_tumblr_link }}" target="_blank" 
        class="link list-social__link lh-1 bls_tooltip px-6"
        aria-label="links"
      >
        <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
          <circle cx="14" cy="14" r="13.5" fill="white" stroke="#555555" />
          <path
              d="M14.5627 10.6082V8H13.0784C13.0449 8.09662 13.0272 8.21119 13.0272 8.32841C13.0113 8.3849 12.9936 8.42555 12.9936 8.4831C12.8409 9.44879 12.3977 10.1251 11.6472 10.4931C11.4255 10.6082 11.2216 10.6267 11 10.6082V12.7133H12.0904C12.1086 15.6716 12.1086 17.1975 12.1086 17.2751C12.1086 17.3332 12.1086 17.3912 12.1086 17.4504C12.2454 18.7434 12.8409 19.5169 13.8978 19.8068C14.3233 19.9424 14.7829 20 15.2443 20C15.8398 19.981 16.4199 19.8648 17 19.6521V17.1785C16.6597 17.2946 16.3505 17.3907 16.0795 17.4863C15.5511 17.6621 15.1079 17.5459 14.7494 17.1595C14.7154 17.1014 14.6642 17.0238 14.6465 16.9467C14.5971 16.6373 14.5636 16.3099 14.5636 15.9989V12.7138H16.9302V10.6082H14.5627Z"
              fill="#555555" />
        </svg>

        <span class="bls_tooltip-content-bottom">{{ 'general.social.links.tumblr' | t }}</span>
      </a>
    </li>
  {%- endif -%}
  {%- if settings.social_snapchat_link != blank -%}
    <li class="list-social__item d-inline-flex align-items-center">
      <a
        href="{{ settings.social_snapchat_link }}" target="_blank" 
        class="link list-social__link lh-1 bls_tooltip px-6"
        aria-label="links"
      >
        <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
          <circle cx="15" cy="15" r="14.5" stroke="#555555"/>
          <path d="M20.2513 16.9764C19.8961 16.8756 19.5672 16.6988 19.2877 16.4584C19.0083 16.2179 18.7849 15.9196 18.6331 15.5843L18.7672 15.5271C19.6193 15.2125 19.8204 14.7262 19.8683 14.4592C19.9014 14.2795 19.8821 14.0942 19.8125 13.9251C19.7429 13.7561 19.626 13.6105 19.4757 13.5058C19.3422 13.4004 19.1881 13.324 19.0232 13.2813C18.8584 13.2386 18.6864 13.2306 18.5182 13.2578C18.6195 12.6806 18.5858 12.0878 18.4197 11.5256C18.2537 10.9634 17.9597 10.4468 17.5608 10.0161C17.0144 9.50396 16.3265 9.16666 15.5858 9.04769C14.8451 8.92872 14.0856 9.03355 13.4053 9.34863C11.4904 10.3021 11.385 12.0469 11.4904 13.2769C11.2222 13.2239 10.9438 13.2678 10.7052 13.4009C10.5639 13.4759 10.4414 13.5817 10.3468 13.7105C10.2523 13.8393 10.1883 13.9877 10.1595 14.1446C9.9967 15.098 10.8201 15.365 11.2127 15.5176L11.385 15.5748C11.2446 15.8989 11.0334 16.1877 10.7667 16.4203C10.5 16.6529 10.1847 16.8233 9.84351 16.9192C9.67831 16.9543 9.52303 17.0255 9.3889 17.1278C9.25476 17.23 9.14514 17.3607 9.06795 17.5103C8.97735 17.7368 8.97735 17.9893 9.06795 18.2159C9.22122 18.483 9.43711 18.7092 9.69721 18.8753C9.9573 19.0413 10.2539 19.1422 10.5616 19.1693C10.6861 19.7033 10.9255 20.1228 11.8255 19.9321C12.0724 19.8874 12.3254 19.8874 12.5723 19.9321C12.7253 20.0052 12.8698 20.0947 13.0032 20.1991C13.5773 20.6676 14.2831 20.9474 15.0234 21C15.7359 20.988 16.4184 20.7127 16.9384 20.2277C17.0962 20.0689 17.2969 19.9591 17.5162 19.9117C17.7355 19.8643 17.9638 19.8813 18.1735 19.9607C18.4387 20.0215 18.7172 19.9768 18.9497 19.8361C19.1822 19.6954 19.3503 19.4698 19.4183 19.2075C20.8449 18.8928 20.9981 18.1968 20.9981 17.9012C21.0126 17.6819 20.9439 17.4652 20.8056 17.2939C20.6673 17.1227 20.4695 17.0093 20.2513 16.9764ZM12.4766 15.9657C12.5475 15.8353 12.5901 15.6916 12.6016 15.5437C12.6132 15.3959 12.5934 15.2473 12.5436 15.1076C12.4645 14.9258 12.335 14.7703 12.1702 14.6594C12.24 14.6413 12.3052 14.6088 12.3617 14.5641C12.6968 14.3353 12.6681 13.8681 12.6489 13.2674C12.601 12.3139 12.5532 11.103 13.8936 10.4737C14.3493 10.2755 14.8527 10.2124 15.3435 10.2918C15.8343 10.3713 16.2916 10.5901 16.6607 10.9219C16.9477 11.2547 17.154 11.6488 17.2635 12.0737C17.3731 12.4986 17.3831 12.9429 17.2927 13.3723C17.2927 13.9157 17.2256 14.3925 17.6086 14.5736C17.6667 14.6098 17.7321 14.6326 17.8001 14.6404C17.6179 14.7476 17.4765 14.9119 17.398 15.1076C17.3514 15.303 17.347 15.5059 17.3849 15.7032C17.4229 15.9004 17.5024 16.0874 17.6182 16.2517C17.9711 16.9526 18.5285 17.5308 19.2172 17.9108H19.1023C18.9162 17.9023 18.7331 17.9599 18.5858 18.0734C18.4384 18.187 18.3364 18.349 18.298 18.5305C18.3003 18.5686 18.3003 18.6068 18.298 18.6449C17.9033 18.5673 17.496 18.5811 17.1075 18.6852C16.719 18.7894 16.3597 18.9811 16.0575 19.2456C15.4352 19.6842 14.9947 19.9989 13.7596 19.1217C13.3982 18.7968 12.9342 18.6079 12.4478 18.5877C12.201 18.5952 11.9548 18.6175 11.7106 18.6545C11.6897 18.5289 11.651 18.4069 11.5957 18.2922C11.5143 18.1719 11.4045 18.0734 11.2759 18.0053C11.1474 17.9371 11.004 17.9014 10.8584 17.9012H10.7244C11.1316 17.7117 11.4965 17.4427 11.7974 17.1103C12.0984 16.7778 12.3293 16.3886 12.4766 15.9657Z" fill="#555555"/>
          </svg>

        <span class="bls_tooltip-content-bottom">{{ 'general.social.links.snapchat' | t }}</span>
      </a>
    </li>
  {%- endif -%}
  {%- if settings.social_youtube_link != blank -%}
    <li class="list-social__item d-inline-flex align-items-center">
      <a
        href="{{ settings.social_youtube_link }}" target="_blank" 
        class="link list-social__link lh-1 bls_tooltip px-6"
        aria-label="links"
      >
        <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
          <circle cx="15" cy="15" r="14.5" stroke="#555555"/>
          <path d="M14.2985 13.0897H14.5132C14.9883 13.0897 15.3742 12.7061 15.3771 12.231V10.8331C15.3686 10.3641 14.9874 9.98765 14.5184 9.98486H14.3037C13.8286 9.98486 13.4427 10.3684 13.4398 10.8435V12.2415C13.4484 12.7104 13.8295 13.0869 14.2985 13.0897ZM14.0838 10.7807C14.084 10.6015 14.2294 10.4562 14.4086 10.4563C14.5878 10.4564 14.733 10.6016 14.7331 10.7807V12.2834C14.7329 12.4626 14.5875 12.6079 14.4082 12.6078C14.2291 12.6076 14.084 12.4625 14.0838 12.2834V10.7807Z" fill="#555555"/>
          <path d="M11.7487 13.0367H12.5079V11.3665L13.3718 9H12.665L12.1414 10.5707L11.6178 9H10.8377L11.7592 11.3665L11.7487 13.0367Z" fill="#555555"/>
          <path d="M16.4608 13.0897C16.7664 13.0603 17.0528 12.9272 17.2724 12.7127V13.0373H17.9007V9.98491H17.2724V12.3514C17.2724 12.3514 17.0577 12.6027 16.8535 12.6027C16.6493 12.6027 16.6388 12.4404 16.6388 12.4404V9.98486H15.9739V12.6708C16.0102 12.9117 16.2172 13.0898 16.4608 13.0897Z" fill="#555555"/>
          <path d="M16.0315 16.5967C15.9053 16.6028 15.7876 16.6617 15.7069 16.759V18.9266C15.7897 19.0182 15.908 19.0697 16.0315 19.068C16.3561 19.068 16.3561 18.7067 16.3561 18.7067V16.958C16.3561 16.9579 16.2986 16.5967 16.0315 16.5967Z" fill="#555555"/>
          <path d="M18.5185 16.5967C18.1939 16.5967 18.1939 16.9579 18.1939 16.9579V17.4239H18.8431V16.9579C18.8431 16.9579 18.8431 16.5967 18.5185 16.5967Z" fill="#555555"/>
          <path d="M18.7604 13.7582C18.7513 13.7584 18.7422 13.7586 18.7331 13.7589H18.7227C18.7227 13.7589 16.7488 13.6489 14.7592 13.6489C12.7697 13.6489 10.7853 13.7536 10.7853 13.7536C9.91834 13.7247 9.19204 14.4041 9.16315 15.2711C9.16256 15.2888 9.16225 15.3066 9.16229 15.3243C9.06232 15.983 9.00805 16.6478 9 17.3139C9.00738 17.987 9.0616 18.6588 9.16229 19.3244C9.1618 20.1919 9.86466 20.8955 10.7321 20.896C10.7499 20.896 10.7676 20.8957 10.7854 20.8951C10.7854 20.8951 12.7383 20.9998 14.7593 20.9998C16.7803 20.9998 18.7332 20.8951 18.7332 20.8951C19.6002 20.9241 20.3265 20.2447 20.3554 19.3777C20.356 19.3599 20.3563 19.3422 20.3562 19.3244C20.4564 18.6588 20.5106 17.987 20.5185 17.3139C20.5119 16.6407 20.4576 15.9689 20.3562 15.3034C20.3422 14.4361 19.6278 13.7442 18.7604 13.7582ZM12.4084 15.5128H11.6178V19.5862H10.8377V15.5128H10.0471V14.8426H12.4241L12.4084 15.5128ZM14.4661 19.5862H13.8116V19.2773C13.5889 19.4847 13.3033 19.6119 13.0001 19.6386C12.7565 19.6437 12.5475 19.4661 12.5132 19.2249V16.0259H13.1886V19.0155C13.1886 19.0155 13.1886 19.1726 13.4032 19.1726C13.6179 19.1726 13.8378 18.9161 13.8378 18.9161V16.0259H14.487L14.4661 19.5862ZM16.4085 19.6386C16.1331 19.6411 15.8728 19.5129 15.7069 19.293V19.5862H15.0001V14.8427H15.7017V16.382C15.8813 16.1786 16.1328 16.0528 16.4033 16.0312C16.8378 16.0312 17.0001 16.3925 17.0001 16.8584L17.0054 18.8114C17.0054 18.8114 17.0054 19.6386 16.4085 19.6386ZM19.5447 17.9527H18.1938V18.7276C18.1938 18.7276 18.1938 19.0888 18.5185 19.0888C18.8431 19.0888 18.8431 18.7276 18.8431 18.7276V18.3611H19.5447V18.9265C19.4508 19.3798 19.0319 19.6906 18.5708 19.649C18.0933 19.692 17.653 19.3882 17.5237 18.9265V16.9055C17.5383 16.4026 17.9578 16.0067 18.4607 16.0213C18.4976 16.0223 18.5344 16.0256 18.5708 16.0312C19.0374 15.9644 19.4698 16.2885 19.5366 16.755C19.5438 16.8048 19.5465 16.8552 19.5447 16.9055V17.9527H19.5447Z" fill="#555555"/>
        </svg>

        <span class="bls_tooltip-content-bottom">{{ 'general.social.links.youtube' | t }}</span>
      </a>
    </li>
  {%- endif -%}
  {%- if settings.social_vimeo_link != blank -%}
    <li class="list-social__item d-inline-flex align-items-center">
      <a
        href="{{ settings.social_vimeo_link }}" target="_blank" 
        class="link list-social__link lh-1 bls_tooltip px-6"
        aria-label="links"
      >
        <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
          <circle cx="14" cy="14" r="13.5" stroke="#555555" />
          <path
              d="M15.0332 11.2292C16.6274 10.2892 17.4866 11.6141 16.6694 13.1117C15.8504 14.6153 15.0988 15.5956 14.7095 15.5956C14.3271 15.5956 14.0243 14.5869 13.5764 12.8359C13.117 11.0221 13.117 7.752 11.1955 8.12317C9.37907 8.47544 7 11.2678 7 11.2678L7.56524 11.999C7.56524 11.999 8.73771 11.0908 9.12795 11.5428C9.52345 11.999 11.0205 17.4772 11.5158 18.4902C11.948 19.3778 13.1476 20.5489 14.4583 19.7137C15.7813 18.8734 20.1483 15.2115 20.9306 10.8786C21.7111 6.55342 15.6667 7.45902 15.0332 11.2292Z"
              fill="#555555" />
        </svg>

        <span class="bls_tooltip-content-bottom">{{ 'general.social.links.vimeo' | t }}</span>
      </a>
    </li>
  {%- endif -%}
  {%- if settings.social_tiktok_link != blank -%}
    <li class="list-social__item d-inline-flex align-items-center">
      <a
        href="{{ settings.social_tiktok_link }}" target="_blank" 
        class="link list-social__link lh-1 bls_tooltip px-6"
        aria-label="links"
      >
        <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
          <circle cx="15" cy="15" r="14.5" stroke="#555555"/>
          <path d="M13.9886 20.9999C12.9308 20.9999 11.9163 20.5965 11.1682 19.8784C10.4202 19.1603 10 18.1863 10 17.1708C10 16.1552 10.4202 15.1813 11.1682 14.4632C11.9163 13.7451 12.9308 13.3417 13.9886 13.3417H14.9625V15.2104H13.9886C13.5841 15.2104 13.1886 15.3256 12.8522 15.5414C12.5159 15.7571 12.2537 16.0638 12.0989 16.4226C11.9441 16.7814 11.9036 17.1762 11.9825 17.5571C12.0614 17.9381 12.2562 18.2879 12.5423 18.5626C12.8283 18.8372 13.1928 19.0242 13.5896 19.1C13.9864 19.1757 14.3976 19.1368 14.7714 18.9882C15.1452 18.8396 15.4646 18.5879 15.6894 18.265C15.9141 17.9421 16.0341 17.5624 16.0341 17.1741V8.99988H17.9807V9.9337C17.9807 10.4545 18.1962 10.9539 18.5798 11.3222C18.9634 11.6904 19.4836 11.8973 20.0261 11.8973H21V13.7628H20.0193C19.2984 13.7638 18.591 13.5751 17.9739 13.2173V17.1708C17.973 18.1855 17.5529 19.1584 16.8058 19.8763C16.0587 20.5941 15.0456 20.9981 13.9886 20.9999Z" fill="#555555"/>
        </svg>
        <span class="bls_tooltip-content-bottom">{{ 'general.social.links.tiktok' | t }}</span>
      </a>
    </li>
  {%- endif -%}
</ul>
