<div class="container">
    <div class="password-header ">
        {%- if settings.logo_image_desktop != blank -%}
            {%- assign logo_image = settings.logo_image_desktop -%}
            {%- assign logo_width = settings.logo_width_desktop -%}
            {%- assign logo_height = logo_width | divided_by: logo_image.aspect_ratio | round -%}
            <img
                srcset="{%- if logo_image.width >= 165 -%}
                {{ logo_image | image_url: width: 165 }} 165w,{%- endif -%}
              {%- if logo_image.width >= 330 -%}
                {{ logo_image | image_url: width: 330 }} 330w,{%- endif -%}
              {%- if logo_image.width >= 535 -%}
                {{ logo_image | image_url: width: 535 }} 535w,{%- endif -%}
              {%- if logo_image.width >= 750 -%}
                {{ logo_image | image_url: width: 750 }} 750w,{%- endif -%}
              {{ logo_image | image_url }} {{ logo_image.width }}w"
              src="{{ logo_image | image_url: width: 330 }}"
              sizes="{{ logo_width }}px"
              loading="lazy"
              class="header__normal-logo none-sticky"
              width="{{ logo_width }}"
              height="{{ logo_height }}"
              alt="{{ logo_height.alt | default: shop.name | escape }}"
              style="width: {{ logo_width }}px">
            {%- else -%}
            <h1 class="mb-0 h2">{{ shop.name }}</h1>
            {%- endif -%}
    
            {%- if shop.password_message != blank -%}
            <div class="password-content">
                {{ shop.password_message }}
            </div>
            {%- endif -%}
            
        </div>
    </div>

