<script
  src="{{ 'recently-viewed.js' | asset_url }}"
  defer="defer"></script>
{{ 'product.css' | asset_url | stylesheet_tag }}
{{ 'skeleton.css' | asset_url | stylesheet_tag }}
{%- liquid
  assign th_st = settings
  assign product_style = th_st.product_style
-%}

<section
  class="bls__section bls__product bls__rvp-page-section"
  data-section-type="page-recently-viewed-products"
  data-section-id="{{ section.id }}"
  data-view="{{ template.name }}">
  <skeleton-page></skeleton-page>
  <div
    class="bls__rv-page-section-inner d-none">
    <div
      class="{{ section.settings.layout }} bls__rv-page-main bls__grid {{ product_style }}">
      <div
        class="d-flex justify-content-center mb-50">
        <button
          class="bls__clear-all-rvp {% if search.results == blank %}d-none{% endif %}">{{ 'collections.sidebar.clear_all' | t }}</button>
      </div>
      {%- if search.results != blank -%}
        {% paginate search.results by 50 %}
          <div
            class="row">
            {%- for item in search.results -%}
              <div
                class="col-6 col-md-4 col-lg-3 bls__product-load bls__wl-product-js bls__product-preload-js"
                data-product-handle="{{ item.handle }}">
                {%- render 'product-item' | product: item -%}
              </div>
            {%- endfor -%}
          </div>
        {% endpaginate %}
      {%- endif -%}
      <div
        class="bls__rv-no-product-js d-none">
        <h3
          class="bls__rvp-no-product-text">
          {{ 'templates.rvp.no_product' | t }}
          <a
            class="bls__rvp-no-product-url"
            href="/collections/all">{{ 'templates.rvp.redirect' | t }}</a>
        </h3>
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Content container",
  "settings": [
    {
      "type": "header",
      "content": "Container"
    },
    {
      "type": "select",
      "id": "layout",
      "label": "Layout",
      "default": "container",
      "options": [
        {
          "value": "container",
          "label": "Default"
        },
        {
          "value": "container-fluid",
          "label": "Fluid container"
        },
        {
          "value": "full-width",
          "label": "Full width"
        }
      ]
    }
  ]
}
{% endschema %}