{% liquid 
    assign st = section.settings
    assign container = st.container
%}

<div class="{{ container }}" data-id={{ section.id }}>
    <div class="bls-carrer__content  {% if st.eb_loadmore %}load-more-page"{% endif %} data-limit={{ st.limit }}>
        {% for block in section.blocks %}
            <div class="bls-carrer__item" data-hide="false">
                <div class="bls-carrer--job d-flex justify-content-between align-items-center">
                    <div class="bls-carrer--short-job d-flex flex-column">
                        {% if block.settings.title_job != blank %}
                            <h3 class="bls-carrer--title-job">{{block.settings.title_job}}</h3>
                        {% endif %}
                        <ul class="list-unstyled">
                            {% if block.settings.loction_job != blank %}
                                <li>
                                    {{ 'carrer.location' | t }} {{block.settings.loction_job}}
                                </li>
                            {% endif %}
                            {% if block.settings.type_job != blank %}
                                <li>
                                    {{block.settings.type_job}}
                                </li>
                            {% endif %}
                            {% if block.settings.income_job != blank %}
                                <li>
                                  {{ 'carrer.income' | t }} {{block.settings.income_job}}
                                </li>
                            {% endif %}
                            {% if block.settings.date_job != blank %}
                                <li>
                                  {{ 'carrer.date' | t }} {{block.settings.date_job}}
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                {% if block.settings.detail_job != blank or block.settings.detail_label_job != blank %}
                <div class="bls-carrer--button">
                    {% if block.settings.detail_label_job %}
                    <a
                        class="btn btn-carrer"
                        {% if block.settings.detail_job == blank %}
                          role="link"
                          aria-disabled="true"
                        {% else %}
                          href="{{ block.settings.detail_job }}"
                          aria-label="{{ block.settings.detail_job }}"
                        {% endif %}
                      >
                        {{ block.settings.detail_label_job  }}
                    </a>
                    {% endif %}
                </div>
                {% endif %}
            </div>
            </div>
        {% endfor %}
        {% if st.eb_loadmore %}
          <div class="carrer-action">
            <div class="pagination-load-more mt-60">
              <div class="pagination">
                <div class="load-more-bar"><span class="load-more-amount">{{ 'carrer.showing' | t }} <span class="limit-carrer">{{ st.limit }}</span> {{ 'carrer.of' | t }} <span class="tottal-carrer">{{ section.blocks.size }}</span> {{ 'carrer.carrer' | t }}</span>
                  <div class="load-more-bar">
                    <span class="load-more-percent"> </span>
                  </div>
                </div><a href="#" class="btn load-carrer btn-primary">
                    <span class="hidden-loading">{{ 'carrer.loadmore' | t }}</span>
                    <span class="loader-icon absolute"></span>
                  </a></div>
            </div>
          </div>
        {% endif %}
         
    </div>
</div>


{% schema %}
	{
		"name": "Page Carrer",
    "class":"page-carrer",
    "disabled_on": {
      "groups": ["custom.template"]
    },
    "settings": [
        {
        "type": "header",
        "content": "General"
        },
        {
        "type": "select",
        "id": "container",
        "label": "Layout",
        "default": "container",
        "options": [
            {
            "value": "container",
            "label": "Default"
            },
            {
            "value": "container-fluid",
            "label": "Fluid container"
            },
            {
            "value": "full-width",
            "label": "Full width"
            }
        ]
        },
        {
          "type": "range",
          "id": "limit",
          "label": "Item carrer show",
          "min": 1,
          "max": 20,
          "default": 9
        },
        {
          "type": "checkbox",
          "id": "eb_loadmore",
          "label": "Show load more",
          "default": true
        }
    ],
    "blocks": [
      {
        "type": "item",
        "name": "Carrer Item",
        "settings": [
          {
            "type": "text",
            "id": "title_job",
            "label": "Title Job",
            "default": "Title job"
          },
          {
            "type": "text",
            "id": "loction_job",
            "label": "Work address",
            "default": "Work address"
          },
          {
            "type": "text",
            "id": "type_job",
            "label": "Working type",
            "default": "Full-time"
          },
          {
            "type": "text",
            "id": "income_job",
            "label": "Income job",
            "default": "$20.000 - $25.000"
          },
          {
            "type": "text",
            "id": "date_job",
            "label": "Recruitment deadline",
            "default": "August 09 2023"
          },
          {
            "type": "url",
            "id": "detail_job",
            "label": "Link job page"
          },
          {
            "type": "text",
            "id": "detail_label_job",
            "label": "Label button",
            "default": "View Details"
          }
        ]
      }
    ]
	}
{% endschema %}