{{ 'lookbook.css' | asset_url | stylesheet_tag }}
{%- liquid
  assign st = section.settings
  assign container = st.container
  assign text_align = st.text_alignment
  assign heading = st.heading
  assign description = st.description
  assign bg_color = st.background_color
  assign aspect_ratio = st.aspect_ratio
  assign custom_ratio = st.custom_ratio
  assign thumbnail_position = st.thumbnail_position
  assign enabled_animations = settings.animations_enabled
  assign carousel_pagination_progress = st.carousel_pagination_progress
  assign reset_spacing = ''
  if st.reset_spacing
    assign reset_spacing = ' remove_spacing'
  endif
  assign spt_tablet = ''
  if st.padding_top > 50
    assign spt_tablet = ' spt-tablet'
  endif
  assign spt_mobile = ''
  if st.padding_top > 30
    assign spt_mobile = ' spt-mobile'
  endif
  assign spb_tablet = ''
  if st.padding_bottom > 50
    assign spb_tablet = ' spb-tablet'
  endif
  assign spb_mobile = ''
  if st.padding_bottom > 30
    assign spb_mobile = ' spb-mobile'
  endif

  assign has_bg = ''
  if bg_color != blank
    assign has_bg = ' has-bg'
  endif
-%}
<shop-the-look
  class="bls__section {{ has_bg }} bls__shoplookbook {{ reset_spacing }}"
  style=" --section-bg-color: {{ bg_color }};"
  id="{{ section.id }}"
  data-id="{{ section.id }}"
>
  <div class="{{ container }} section-full">
    <div class="bls__shop-lookbook-content align-items-center row{% if thumbnail_position == "right" %} row-reverse{% endif %}">
      <div class="bls__lookbook-items col-xl-6 m-0-important">
        <div class="bls__lookbook-image {% if enabled_animations %}scroll-trigger animate--slide-in{% endif %}">
          {%- if st.lookbook_image != blank -%}
            {% render 'responsive-image',
              image: st.lookbook_image,
              aspect_ratio: aspect_ratio,
              custom_ratio: custom_ratio
            %}
          {%- else -%}
            {%- render 'responsive-image', cls: 'border', aspect_ratio: aspect_ratio, custom_ratio: custom_ratio -%}
          {%- endif -%}
        </div>
        {%- for block in section.blocks -%}
          {% liquid
            assign position_top = block.settings.position_top
            assign position_left = block.settings.position_left
            assign product = block.settings.product
          %}
          {% comment %}piranav add new 2026/01/16 <div
            class="bls__lookbook-dot {% if forloop.index == 1 %}active{% endif %} absolute"
            style="top: {{ position_top }}%; left: {{ position_left }}%;transform: translate(-{{ position_left }}%,-{{ position_top }}%)"
            data-product-position="{{ forloop.index }}"
          > {% endcomment %}
            <div
  class="bls__lookbook-dot {% if forloop.index == 1 %}active{% endif %} absolute"
  data-product-position="{{ forloop.index }}"
  data-product-url="{{ product.url }}"
  style="top: {{ position_top }}%; left: {{ position_left }}%; transform: translate(-{{ position_left }}%,-{{ position_top }}%)"
>
  <a
    href="{{ product.url }}"
    class="dot-link"
    aria-label="{{ product.title }}"
  >
{% comment %} end piranav {% endcomment %}
            {%- if st.dot_type == 'icon' -%}
              <span class="icon-dot icon">
                <svg width="10" height="10" viewBox="0 0 10 10" fill="" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M5 0C4.44772 0 4 0.447715 4 1V4L1 4C0.447715 4 0 4.44771 0 5C0 5.55228 0.447715 6 1 6H4V9C4 9.55229 4.44772 10 5 10C5.55228 10 6 9.55228 6 9V6H9C9.55228 6 10 5.55229 10 5C10 4.44772 9.55228 4 9 4L6 4V1C6 0.447715 5.55228 0 5 0Z" fill=""></path>
                </svg>
              </span>
            {%- else -%}
              <span class="icon-dot number">{{ forloop.index }}</span>
            {%- endif -%}
          {% comment %} piranav 2026/01/16</div> {% endcomment %}</a></div>
        {%- endfor -%}
      </div>
      {%- liquid
        assign product_style = settings.product_style
        assign item_desktop = st.slider_lookbook_items
        assign show_arrow = st.show_arrow
        assign show_bullet = st.show_bullet
        assign show_bullet_mobile = st.show_bullet_mobile
        assign column_gap = st.column_gap
      -%}
      <div
        class="bls__lookbook-products col-xl-6 bls__grid bls__section m-0-important {{ has_bg }} {{ product_style }} {{ spt_tablet }}{{ spb_tablet }}{{ spt_mobile }}{{ spb_mobile }}"
        style="
          --section-padding-top: {{ st.padding_top }}px; --section-padding-bottom: {{ st.padding_bottom }}px; --bls-gutter-x:
          {{ column_gap }}px;
        "
      >
        {%- if heading != blank or description != blank -%}
          <div class="bls__section-header {{ text_align }} {% if enabled_animations %}scroll-trigger animate--slide-in{% endif %}">
            {%- if heading != blank -%}
              <h2 class="bls__section-heading mb-5">{{ heading }}</h2>
            {%- endif -%}
            {%- if description != blank -%}
              <div class="bls__section-des">
                {{ description }}
              </div>
            {%- endif -%}
          </div>
        {%- endif -%}
        <div
          class="swiper lookbook-swiper grid-{{ product_style }} hover__show-nav"
          id="bls__swiper-{{ section.id }}"
          data-section-id="{{ section.id }}"
          data-autoplay="false"
          data-loop="true"
          data-mobile="2"
          data-tablet="2"
          data-desktop="{{ item_desktop }}"
          data-spacing="{{ column_gap }}"
          data-pagination-progressbar="{{ carousel_pagination_progress }}"
        >
          {%- if show_arrow != false -%}
            <div class="swipper-next-back">
              <div class="swiper-arrow swiper-next swiper-button-next box-shadow">
                <i class="icon-chevron-right"></i>
              </div>
              <div class="swiper-arrow swiper-prev swiper-button-prev box-shadow">
                <i class="icon-chevron-left"></i>
              </div>
            </div>
          {%- endif -%}
          <div class="swiper-wrapper {% if carousel_pagination_progress %}mb-45{% endif %}" style="--perload-gap: {{ column_gap }}px">
            {%- for block in section.blocks -%}
              {% liquid
                assign position_top = block.settings.position_top
                assign position_left = block.settings.position_left
                assign product = block.settings.product
              %}
              <div class="swiper-slide {% if enabled_animations %}scroll-trigger animate--slide-in{% endif %}"
                {% if enabled_animations %}
                  data-cascade
                  style="--animation-order: {{ forloop.index }};"
                {% endif %}
              >
                {%- render 'product-item' | product: product -%}
              </div>
            {%- endfor -%}
          </div>
          {%- if show_bullet != false -%}
            <div class="swiper-pagination"></div>
          {%- endif -%}
          {%- if show_bullet_mobile != false and carousel_pagination_progress == false -%}
            <div class="swiper-pagination show-on-mobile"></div>
          {%- endif -%}
        </div>
      </div>
    </div>
  </div>
  {% comment %} piranav add script2026/01/16 {% endcomment %}
   <script>
document.addEventListener('DOMContentLoaded', function () {

  // 1️⃣ Product link click — FORCE OPEN
  document.querySelectorAll('.bls__lookbook-dot .dot-link').forEach(link => {
    link.addEventListener('click', function (e) {
      e.stopPropagation(); // 🔥 THIS IS THE KEY
      // allow normal navigation
    });
  });

  // 2️⃣ Dot click — slider sync
  document.querySelectorAll('.bls__lookbook-dot').forEach(dot => {
    dot.addEventListener('click', function () {
      const index = this.dataset.productPosition - 1;
      const swiper = document.querySelector('#bls__swiper-{{ section.id }}')?.swiper;

      if (swiper) {
        swiper.slideToLoop(index);
      }
    });
  });

});
</script>

</shop-the-look>

{% schema %}
{
  "name": "Shop the look",
  "settings": [
    {
      "type": "header",
      "content": "Section header"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Shop by lookbook"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "Description",
      "default": "<p></p>"
    },
    {
      "type": "select",
      "id": "text_alignment",
      "label": "Text alignment",
      "default": "text-center",
      "options": [
        {
          "value": "text-left",
          "label": "Left"
        },
        {
          "value": "text-center",
          "label": "Center"
        },
        {
          "value": "text-right",
          "label": "Right"
        }
      ]
    },
    {
      "type": "header",
      "content": "General"
    },
    {
      "type": "select",
      "id": "container",
      "label": "Layout",
      "default": "container",
      "options": [
        {
          "value": "container",
          "label": "Default"
        },
        {
          "value": "container-fluid",
          "label": "Fluid container"
        },
        {
          "value": "full-width",
          "label": "Full width"
        }
      ]
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background color"
    },
    {
      "type": "header",
      "content": "Lookbook settings"
    },
    {
      "type": "image_picker",
      "id": "lookbook_image",
      "label": "Thumbnail"
    },
    {
      "type": "select",
      "id": "dot_type",
      "label": "Dots type",
      "options": [
        {
          "value": "icon",
          "label": "Plus dot"
        },
        {
          "value": "number",
          "label": "Number dot"
        }
      ]
    },
    {
      "type": "select",
      "id": "aspect_ratio",
      "label": "Aspect ratio",
      "default": "1/1",
      "options": [
        {
          "value": "original",
          "label": "Original aspect ratio"
        },
        {
          "value": "16/9",
          "label": "16:9"
        },
        {
          "value": "3/4",
          "label": "3:4"
        },
        {
          "value": "4/3",
          "label": "4:3"
        },
        {
          "value": "1/1",
          "label": "1:1"
        },
        {
          "value": "custom",
          "label": "Custom"
        }
      ]
    },
    {
      "type": "text",
      "id": "custom_ratio",
      "label": "Custom ratio",
      "default": "21:9"
    },
    {
      "type": "header",
      "content": "Lookbook action"
    },
    {
      "type": "select",
      "id": "thumbnail_position",
      "label": "Thumbnail position",
      "default": "left",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ]
    },
    {
      "type": "header",
      "content": "Products"
    },
    {
      "type": "range",
      "min": 2,
      "max": 4,
      "step": 1,
      "default": 3,
      "label": "Items per row (Desktop)",
      "id": "slider_lookbook_items"
    },
    {
      "type": "header",
      "content": "Settings for carousel"
    },
    {
      "type": "checkbox",
      "id": "show_arrow",
      "label": "Show arrows",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_bullet",
      "label": "Show bullets both on desktop and mobile",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_bullet_mobile",
      "label": "Only show bullets on mobile",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "carousel_pagination_progress",
      "label": "Show progressbar",
      "default": false
    },
    {
      "type": "range",
      "min": 0,
      "max": 50,
      "unit": "px",
      "step": 5,
      "default": 30,
      "label": "Column gap",
      "id": "column_gap"
    },
    {
      "type": "header",
      "content": "Section padding"
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "Padding top",
      "default": 0,
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "Padding bottom",
      "default": 0,
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px"
    },
    {
      "type": "checkbox",
      "id": "reset_spacing",
      "label": "Remove default space between sections",
      "default": false
    }
  ],
  "blocks": [
    {
      "type": "product",
      "name": "Product",
      "limit": 6, // orginal 5, puvii changed 6
      "settings": [
        {
          "type": "range",
          "id": "position_top",
          "label": "Offset top",
          "min": 0,
          "max": 100,
          "unit": "%",
          "step": 1,
          "default": 50
        },
        {
          "type": "range",
          "id": "position_left",
          "label": "Offset left",
          "min": 0,
          "max": 100,
          "unit": "%",
          "step": 1,
          "default": 50
        },
        {
          "type": "product",
          "id": "product",
          "label": "Select product"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Shop the look"
    }
  ]
}
{% endschema %}
