{%- liquid
  assign st = section.settings
  assign container = st.container
  assign text_align = st.text_alignment
  assign heading = st.heading
  assign description = st.description
  assign bg_color = st.background_color
  assign text_color = st.text_color
  assign img_view = st.ib_img_view
  assign custom_column = st.custom_column
  assign blocks = section.blocks
  assign column_gap = st.column_gap
  assign enabled_animations = settings.animations_enabled

  assign column_gap_tablet = ''
  if column_gap > 30
    assign column_gap_tablet = ' gap-tablet'
  endif
  assign column_gap_mobile = ''
  if column_gap > 15
    assign column_gap_mobile = ' gap-mobile'
  endif

  assign reset_spacing = ''
  if st.reset_spacing
    assign reset_spacing = ' remove_spacing'
  endif

  assign responsive_column = ''
  if custom_column == 1
    assign responsive_column = 'col-12'
  elsif custom_column == 2 or custom_column == 4
    assign responsive_column = 'col-sm-6'
  elsif custom_column == 3
    assign responsive_column = 'col-sm-4'
  endif

  assign spt_tablet = ''
  if st.padding_top > 50
    assign spt_tablet = ' spt-tablet'
  endif
  assign spt_mobile = ''
  if st.padding_top > 30
    assign spt_mobile = ' spt-mobile'
  endif
  assign spb_tablet = ''
  if st.padding_bottom > 50
    assign spb_tablet = ' spb-tablet'
  endif
  assign spb_mobile = ''
  if st.padding_bottom > 30
    assign spb_mobile = ' spb-mobile'
  endif
  assign has_bg = ''
  if bg_color != blank
    assign has_bg = ' has-bg'
  endif
  assign carousel_autoplay = st.carousel_autoplay
  assign carousel_arrows = st.carousel_arrows
  assign carousel_bullets = st.carousel_bullets
  assign show_bullet_mobile = st.show_bullet_mobile
-%}

{%- capture style -%}
    {%- if bg_color != blank -%}
      --section-bg-color: {{ bg_color }};
    {%- endif -%}
    --section-padding-top: {{ st.padding_top }}px; --section-padding-bottom: {{ st.padding_bottom }}px; --bls-gutter-x: {{ column_gap }}px;
  {%- endcapture -%}
<section
  class="bls__section {{ has_bg }}{{ spt_tablet }}{{ spb_tablet }}{{ spt_mobile }}{{ spb_mobile }} bls__tiktok{{ reset_spacing }}"
  style="{{ style | strip | strip_newlines }}"
>
  <div class="{{ container }}">
    {%- if heading != blank or description != blank -%}
      <div class="bls__section-header {{ text_align }}">
        {%- if heading != blank -%}
          <h2 class="bls__section-heading mb-5 {% if enabled_animations %}scroll-trigger animate--slide-in{% endif %}">{{ heading }}</h2>
        {%- endif -%}
        {%- if description != blank -%}
          <div class="bls__section-des {% if enabled_animations %}scroll-trigger animate--slide-in{% endif %}">
            {{ description }}
          </div>
        {%- endif -%}
      </div>
    {%- endif -%}
    {%- if st.section_type == 'carousel' -%}
      <div
        class="bls__tiktok swiper bls__swiper hover__show-nav"
        id="bls__swiper-{{ section.id }}"
        data-section-id="{{ section.id }}"
        data-autoplay="{{ carousel_autoplay }}"
        data-mobile="1"
        data-tablet="2"
        data-desktop="{{ custom_column }}"
        data-spacing="{{ column_gap }}"
      >
        <div class="swiper-wrapper" style="--perload-gap: {{ column_gap }}px">
          {%- for block in blocks -%}
            <div class="tiktok-column swiper-slide {% if enabled_animations %}scroll-trigger animate--slide-in{% endif %}"
              {% if enabled_animations %}
                data-cascade
                style="--animation-order: {{ forloop.index }};"
              {% endif %}
            >
              <div class="bls__section_tiktok-inner flex{{ img_view }} {% if img_view == 'border' %}p-15{%- endif -%}">
                <div
                  class="bls__section_tiktok-image bls_img-ratio"
                >
                  {%- if block.settings.tiktok_embed_url != blank -%}
                    {{ block.settings.tiktok_embed_url }}
                  {%- else -%}
                    {%- render 'placeholder-render' | type: product -%}
                  {%- endif -%}
                </div>
              </div>
            </div>
          {%- endfor -%}
        </div>
        {%- render 'swiper-control',
          show_bullet: carousel_bullets,
          show_arrow: carousel_arrows,
          show_bullet_mobile: show_bullet_mobile
        -%}
      </div>
    {%- else -%}
      <div
        class="justify-content-center row row-cols-lg-{{ custom_column }}{{ column_gap_tablet }}{{ column_gap_mobile }}"
        style="--bs-gutter-x: {{ column_gap }}px;"
      >
        {%- for block in blocks -%}
          <div class="{{ responsive_column }} tiktok-column {% if enabled_animations %}scroll-trigger animate--slide-in{% endif %}" 
            {% if enabled_animations %}
              data-cascade
              style="--animation-order: {{ forloop.index }};"
            {% endif %}
          >
            <div class="bls__section_tiktok-inner flex{{ img_view }} {% if img_view == 'border' %}p-15{%- endif -%}">
              <div
                class="bls__section_tiktok-image bls_img-ratio"
              >
                {%- if block.settings.tiktok_embed_url != blank -%}
                  {{ block.settings.tiktok_embed_url }}
                {%- else -%}
                  {%- render 'placeholder-render' | type: product -%}
                {%- endif -%}
              </div>
            </div>
          </div>
        {%- endfor -%}
      </div>
    {%- endif -%}
    {%- if settings.social_tiktok_link != blank and st.tiktok_handle != blank -%}
      <div class="social-tiktok-link w-full text-center">
        <a
          class="mb-0 mt-20 d-inline-block"
          style="color: {{ text_color }}"
          role="link"
          aria-disabled="true"
          href="{{ settings.social_tiktok_link }}"
          target="_blank"
        >
          {{ st.tiktok_handle }}
        </a>
      </div>
    {%- endif -%}
  </div>
</section>

{% schema %}
{
  "name": "Tiktok video",
  "settings": [
    {
      "type": "header",
      "content": "Section header"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "Description",
      "default": "<p></p>"
    },
    {
      "type": "select",
      "id": "text_alignment",
      "label": "Text alignment",
      "default": "text-center",
      "options": [
        {
          "value": "text-left",
          "label": "Left"
        },
        {
          "value": "text-center",
          "label": "Center"
        },
        {
          "value": "text-right",
          "label": "Right"
        }
      ]
    },
    {
      "type": "header",
      "content": "General"
    },
    {
      "type": "select",
      "id": "container",
      "label": "Layout",
      "default": "container",
      "options": [
        {
          "value": "container",
          "label": "Default"
        },
        {
          "value": "container-fluid",
          "label": "Fluid container"
        },
        {
          "value": "full-width",
          "label": "Full width"
        }
      ]
    },
    {
      "type": "select",
      "id": "section_type",
      "label": "Section type",
      "default": "grid",
      "options": [
        {
          "value": "grid",
          "label": "Grid"
        },
        {
          "value": "carousel",
          "label": "Carousel"
        }
      ]
    },
    {
      "type": "range",
      "id": "custom_column",
      "label": "Columns per row",
      "min": 1,
      "max": 4,
      "step": 1,
      "default": 3
    },
    {
      "type": "range",
      "min": 0,
      "max": 50,
      "unit": "px",
      "step": 5,
      "default": 30,
      "label": "Column gap",
      "id": "column_gap"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background color"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text color",
      "default": "#111111"
    },
    {
      "type": "richtext",
      "id": "tiktok_handle",
      "label": "Tiktok handle",
      "default": "<p>@yourTiktokHandle</p>"
    },
    {
      "type": "header",
      "content": "Carousel settings"
    },
    {
      "type": "checkbox",
      "id": "carousel_autoplay",
      "label": "Autoplay",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "carousel_arrows",
      "label": "Show arrows",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "carousel_bullets",
      "label": "Show bullets both on desktop and mobile",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_bullet_mobile",
      "label": "Only show bullets on mobile",
      "default": false
    },
    {
      "type": "header",
      "content": "Section padding"
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "Padding top",
      "default": 0,
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "Padding bottom",
      "default": 0,
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px"
    },
    {
      "type": "checkbox",
      "id": "reset_spacing",
      "label": "Remove default space between sections",
      "default": false
    }
  ],
  "max_blocks": 6,
  "blocks": [
    {
      "type": "video",
      "name": "Video",
      "settings": [
        {
          "type": "textarea",
          "id": "tiktok_embed_url",
          "label": "Video embed url"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Tiktok video",
      "blocks": [
        {
          "type": "video"
        },
        {
          "type": "video"
        },
        {
          "type": "video"
        }
      ]
    }
  ]
}
{% endschema %}
