{{ 'featured-promotion.css' | asset_url | stylesheet_tag }}


<style>
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.mobile_padding_top }}px;
    padding-bottom: {{ section.settings.mobile_padding_bottom }}px;
  }
  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
    
   
</style>

<div class="shipping__section section-{{ section.id }}-padding">
  <div class="container">
    <div class="shipping__section--inner d-flex">
      {%- for block in section.blocks -%}
      {%- case block.type -%}
      {%- when 'featured_promotion' -%}
      <div class="shipping__items" {{ block.shopify_attributes }}>
        <div class="shipping__items--icon">
          {%- render 'icon-featured-promotion', icon: block.settings.icon -%}
        </div>
        <div class="shipping__items--content text-center">
          <h2 class="shipping__items--title h3">{{ block.settings.heading }}</h2>
          <p class="shipping__items--desc">{{ block.settings.subheading }}</p>
        </div>
      </div>
      {%- endcase -%}
      {%- endfor -%}
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Featured promotion",
    "settings": [
	  {
        "type": "header",
        "content": "Section padding"
      },
      {
            "type": "paragraph",
            "content": "Desktop"
          },
          {
            "type": "range",
            "id": "padding_top",
            "min": 0,
            "max": 150,
            "step": 5,
            "unit": "px",
            "label": "Padding top",
            "default": 0
          },
          {
            "type": "range",
            "id": "padding_bottom",
            "min": 0,
            "max": 150,
            "step": 5,
            "unit": "px",
            "label": "Padding bottom",
            "default": 0
          },
          {
            "type": "paragraph",
            "content": "Mobile"
          },
          {
            "type": "range",
            "id": "mobile_padding_top",
            "min": 0,
            "max": 150,
            "step": 5,
            "unit": "px",
            "label": "Padding top",
            "default": 0
          },
          {
            "type": "range",
            "id": "mobile_padding_bottom",
            "min": 0,
            "max": 150,
            "step": 5,
            "unit": "px",
            "label": "Padding bottom",
            "default": 0
          }
	],
    "blocks": [
      {
        "type": "featured_promotion",
        "name": "Featured promotion",
        "settings": [
          {
            "type": "text",
            "id": "heading",
            "default": "Heading",
            "label": "Heading"
          },
		  {
            "type": "text",
            "id": "subheading",
            "default": "subheading promotion",
            "label": "Subheading"
          },
		  {
            "type": "select",
            "id": "icon",
            "options": [
              {
                "value": "truck",
                "label": "Truck"
              },
              {
                "value": "return",
                "label": "Return"
              },
              {
                "value": "payment",
                "label": "Payment"
              },
              {
                "value": "gift",
                "label": "Payment"
              }
            ],
            "default": "truck",
            "label": "Icon"
          }
        ]
      }
    ],
	"presets": [
      {
        "name": "Featured promotion",
		"blocks":[
            {
                "type": "featured_promotion",
				"settings":{
                     "heading":"Free Shipping",
					 "subheading":"On all orders over $75.00",
					 "icon": "truck"
                }
            },
			{
                "type": "featured_promotion",
				"settings":{
                     "heading":"Free Returns",
					 "subheading":"On all orders over $75.00",
					 "icon": "return"
                }
            },
			{
                "type": "featured_promotion",
				"settings":{
                     "heading":"Secure Payment",
					 "subheading":"On all orders over $75.00",
					 "icon": "payment"
                }
            },
			{
                "type": "featured_promotion",
				"settings":{
                     "heading":"Gift Service",
					 "subheading":"On all orders over $75.00",
					 "icon": "gift"
                }
            }
          ]
      }
    ]
  }
{% endschema %}
