{%- liquid

 	assign container = ''
  	if section.settings.container == "container"
    assign container = 'container'
    elsif section.settings.container == "container-fluid"
    assign container = 'container-fluid'
    else
    assign container = 'container-fluid px-0'
    endif
    
    assign sticky = ''
    if section.settings.header_sticky
    assign sticky =	'header__sticky'
    endif 

    assign header_type = section.settings.header_design
    assign search_button = section.settings.search_type
    
    assign cart_icon = section.settings.cart_drawer_button
    assign wishlist_icon = section.settings.wishlist_button
    assign compare_icon = section.settings.compare_button
    assign account_icon = section.settings.account_button
  
-%}

<link rel="stylesheet" href="{{ 'header.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-cart-notification.css' | asset_url }}" media="print" onload="this.media='all'"> 
<link rel="stylesheet" href="{{ 'component-search.css' | asset_url }}" media="print" onload="this.media='all'">
{{ 'component-list-social.css' | asset_url | stylesheet_tag }}

{%- if settings.predictive_search_enabled -%}
<link rel="stylesheet" href="{{ 'component-price.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-loading-overlay.css' | asset_url }}" media="print" onload="this.media='all'">
{%- endif -%}


<noscript>{{ 'component-cart-notification.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-search.css' | asset_url | stylesheet_tag }}</noscript>

{%- style -%}
 .header_bottom:not(.logo__left--menu-center) {
  padding: 15px 0;
} 
.header__sticky.sticky {
    position: fixed;
    width: 100%;
    top: 0;
    background: rgb(var(--color-background));
    left: 0;
    z-index: 98;
    padding: 10px 0;
    box-shadow: 0 0 7px rgb(0 0 0 / 15%);
    transition: .3s;
 }  
/* Header Inner */
.header__inner {
  align-items: center;
  justify-content: space-between;
}

/* Header Logo */
.header__menu {
  display: flex;
}
.header__menu_ul {
  display: flex;
  padding: 0;
  list-style: none;
  flex-wrap: wrap;
  margin: 0;
}
.header__menu_li {
  position: relative;
  flex-shrink: 0;
}
.header__menu_li + .header__menu_li {
    padding-left: 25px;
}
.header__menu_li:hover .header__menu_item {
  color: rgba(var(--color-base-text-link-hover));
}
.header__menu_li:hover .header__menu_item::before {
  right: auto;
  left: 0;
  width: 100%;
}

.header__menu_li_child_mega_menu {
  position: static;
}
.header__menu_item {
    line-height: 1;
    position: relative;
    display: block;
    padding: 10px 0;
    color: rgba(var(--color-foreground));
    font-size: 1.8rem;
    word-break: break-word;
}  

/* Header Actions Buttons */
.header__actions {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.header__actions_btn {
    position: relative;
    display: flex;
    padding: 8px;
    color: rgba(var(--color-foreground));
    background: none;
    border: none;
}

.header__actions_btn:hover {
  color: rgba(var(--color-base-text-link-hover));
}
.header__actions_btn svg {
  width: auto;
  height: 2rem;
}
.header__actions_btn--cart {
  padding-right: 10px;
}
.header__actions_btn_cart_num {
  font-size: 11px;
  font-weight: 600;
  line-height: 1;
  position: absolute;
  top: -2px;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 18px;
  height: 18px;
  color: rgb(var(--color-button-text));
  border-radius: 50%;
  background-color: rgba(var(--color-button),var(--alpha-button-background));
  letter-spacing: 0;
}
/* Off Canvas Mini Cart */
  #offcanvas__mini_cart {
    position: fixed;
    width: 40rem;
    height: 100%;
    right: 0;
    z-index: 99;
    top: 0;
    right: 0;
    opacity: 0;
    visibility: hidden;
    background-color: rgb(var(--color-background));
    border-color: rgba(var(--color-foreground), 0.2);
    transform: translateX(100%);  
    transition: all 0.3s ease 0s;
  }
  @media only screen and (min-width: 992px) {
    #offcanvas__mini_cart {
      width: 48rem;
    }
  }
  @media only screen and (max-width: 575px){
    #offcanvas__mini_cart {
      width: calc(100% - 2rem);
    }
  }
.cart-notification-wrapper {
  position: relative;
  z-index: 9;
}

.cart-notification__header {
  align-items: flex-start;
  display: flex;
}

.cart-notification__heading {
  align-items: center;
  display: flex;
  flex-grow: 1;
  margin-bottom: 0;
  margin-top: 0;
}

.cart-notification__heading .icon-checkmark {
  color: rgb(var(--color-foreground));
  margin-right: 1rem;
  width: 1.3rem;
}

.cart-notification__links > *:not(.cart-notification__links > *:first-child) {
    margin-top: 1rem;
}

/* Offcanvas Search bar css  */
#predictive__search_overlay {
    position: fixed;
    width: 100%;
    height: 200px;
    background: rgba(var(--color-background));
    left: 0;
    top: 0;
    opacity: 0;
    visibility: hidden;
    z-index: 998;
    transition: all 0.3s ease 0s;
    transform: translateY(-100%);
  	display: flex;
    justify-content: center;
}

div#predictive__search_overlay.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}
.search__content_inner {
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
    flex-direction: row-reverse;
    width: 600px;
    padding: 0 20px;  
}
button#search__close_btn {
    margin-left: 30px;
}
predictive-search.search-modal__form {
    position: relative;
} 
/* Header Mobile css  */
.mobile__menu_bar .icon-hamburger {
    width: 22px;
    height: 22px;
}

/* Submenu css */
.header__sub_menu {
  position: absolute;
  z-index: 9;
  top: 100%;
  right: 0; /* Change alignment to the right */
  visibility: hidden;
  width: 220px;
  margin: 0;
  margin-top: 20px;
  padding: 20px 0;
  list-style: none;
  transition: opacity var(--transition), transform var(--transition); /* Smooth transition */
  opacity: 0;
  transform: translateX(20px); /* Start off-screen to the right */
  box-shadow: 0 10px 20px rgba(var(--color-foreground), 0.15);
}

/* When dropdown is active */
.menu__item_has_children:hover .header__sub_menu,
.menu__item_has_children:focus-within .header__sub_menu {
  visibility: visible;
  opacity: 1;
  transform: translateX(0); /* Slide in from the right */
}

.header__sub_menu_li {
  position: relative;
  display: block;
}

.header__sub_menu_item {
  line-height: 1;
  display: block;
  padding: 12px 2rem;
}


.header__mega_menu {
    position: absolute;
    z-index: 99;
    left: 0;
    visibility: hidden;
    margin: 0;
    margin-top: 20px;
    padding: 25px;
    list-style: none;
    transition: var(--transition);
    opacity: 0;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
    right: 0;
}
.header__mega_menu--inner {
    padding: 0;
}
.header__mega_menu_li {
  position: relative;
  display: block;
  flex: 1 0 auto;
}
.header__mega_menu_item {
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1;
    position: relative;
    display: block;
    margin-bottom: 0;
    padding: 12px 0;
}
/* Mega Menu Sub Menu */
.header__mega_sub_menu {
  margin: 0;
  padding: 0;
  list-style: none;
}

.header__mega_sub_menu_li {
  display: block;
}
.header__mega_sub_menu_item {
    line-height: 2.2rem;
    display: block;
    padding: 10px 0;
    font-size: 1.5rem;
}
span.submenu__icon svg {
    height: 8px;
    position: unset;
    right: unset;
    top: unset;
}
span.submenu__icon {
    margin-left: 2px;
}  
a.header__logo_link {
    word-break: break-word;
    max-width: 300px;
    padding: 10px 0;
    line-height: 1;
}
  .header__actions > button {
    padding-left: 0;
  }
@media only screen and (max-width: 991px){
  a.header__logo_link {
    text-align: center;
  }
  .header__actions a:first-child {
    padding-left: 0;
  }
}
@media only screen and (max-width: 600px){
  a.header__logo_link {
    max-width: 230px;
  }
}
@media only screen and (max-width: 400px){
  a.header__logo_link {
    max-width: 160px;
  }
}
  
  
  {%- if header_type == "logo__center--menu-bottom" or header_type == "logo__left--menu-bottom" -%}
  @media only screen and (min-width: 1200px){
    a.header__menu_item {
      padding-bottom: 23px;
      padding-top: 23px;
    }
    .header__actions_btn--search.d-none{
      display: none !important;
    }
  }
  {%- if section.settings.category_menu -%}
  .header__menu {
    padding-left: 35px;
  }

  @media only screen and (min-width: 1200px) {
    .header__menu {
      padding-left: 42px;
    }
  }
  {%- endif -%}
  {%- endif -%}
  
  {%- if header_type == "logo__left--menu-bottom" or header_type == "logo__center--menu-bottom" -%}
  @media only screen and (min-width: 992px){
    button.header__actions_btn.header__actions_btn--search {
      display: unset;
    }
  }
  {%- endif -%}


  
  @media only screen and (max-width: 991px){
    a.header__logo_link {
      margin-right: -32px;
    }
  }
 
  .header__heading-logo {
    width: 100%;
    height: auto;
  }
  .search__button .icon {
    height: 25px;
    width: 25px;
  }

.categories__menu--header {
  --color-background: {{ section.settings.cat_label_bg.red }}, {{ section.settings.cat_label_bg.green }}, {{ section.settings.cat_label_bg.blue }};
  --color-foreground: {{ section.settings.cat_label_text.red }}, {{ section.settings.cat_label_text.green }}, {{ section.settings.cat_label_text.blue }}
}
.logo__left--menu-center a.header__menu_item {
  padding: 3.8rem 0;
}
{%- endstyle -%}

<link rel="stylesheet" href="{{ 'header-submenu.css' | asset_url }}" media="print" onload="this.media='all'">
<noscript>{{ 'header-submenu.css' | asset_url | stylesheet_tag }}</noscript>

{%- if header_type ==  "logo__left--menu-bottom" or header_type == "logo__center--menu-bottom" -%}
{{ 'category-menu.css' | asset_url | stylesheet_tag }}
{%- endif -%}
<svg xmlns="http://www.w3.org/2000/svg" class="hidden">
  <symbol id="icon-search" viewbox="0 0 18 19" fill="none">
    <path fill-rule="evenodd" clip-rule="evenodd" d="M11.03 11.68A5.784 5.784 0 112.85 3.5a5.784 5.784 0 018.18 8.18zm.26 1.12a6.78 6.78 0 11.72-.7l5.4 5.4a.5.5 0 11-.71.7l-5.41-5.4z" fill="currentColor"/>
  </symbol>

  <symbol id="icon-close" class="icon icon-close" fill="none" viewBox="0 0 18 17">
    <path d="M.865 15.978a.5.5 0 00.707.707l7.433-7.431 7.579 7.282a.501.501 0 00.846-.37.5.5 0 00-.153-.351L9.712 8.546l7.417-7.416a.5.5 0 10-.707-.708L8.991 7.853 1.413.573a.5.5 0 10-.693.72l7.563 7.268-7.418 7.417z" fill="currentColor">
      </symbol>
    </svg>
  
  
<svg style="display: none">
   <symbol id="icon-caret" viewBox="0 0 10 6">
     <path fill-rule="evenodd" clip-rule="evenodd" d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z" fill="currentColor">
   </symbol>
</svg>

<script src="{{ 'cart-notification.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'header-search-bar.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'mobile-nav.js' | asset_url }}" defer></script> 
{%- if section.settings.header_sticky -%}
<script src="{{ 'header-sticky.js' | asset_url }}" defer></script>
{%- endif -%}
<script src="{{ 'details-disclosure.js' | asset_url }}" defer></script>  

{%- unless template contains 'cart' -%}
<script src="{{ 'cart_drawer_action.js' | asset_url }}" defer></script>
{%- endunless -%}

<script src="{{ 'header-common.js' | asset_url }}" defer></script>
  
  
<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Organization",
    "name": {{ shop.name | json }},
    {% if section.settings.logo %}
      {% assign image_size = section.settings.logo.width | append: 'x' %}
      "logo": {{ section.settings.logo | img_url: image_size | prepend: "https:" | json }},
    {% endif %}
    "sameAs": [
      {{ settings.social_twitter_link | json }},
      {{ settings.social_facebook_link | json }},
      {{ settings.social_pinterest_link | json }},
      {{ settings.social_instagram_link | json }},
      {{ settings.social_tumblr_link | json }},
      {{ settings.social_snapchat_link | json }},
      {{ settings.social_youtube_link | json }},
      {{ settings.social_vimeo_link | json }}
    ],
    "url": {{ shop.url | append: page.url | json }}
  }
</script>

{%- if request.page_type == 'index' -%}
{% assign potential_action_target = shop.url | append: routes.search_url | append: "?q={search_term_string}" %}
<script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": {{ shop.name | json }},
      "potentialAction": {
        "@type": "SearchAction",
        "target": {{ potential_action_target | json }},
        "query-input": "required name=search_term_string"
      },
      "url": {{ shop.url | append: page.url | json }}
    }
  </script>
{%- endif -%}
  
  
  <header class="header-default" id="shopify__header__section" data-section-id="{{ section.id }}" data-section-type="header">
    {%- for block in section.blocks -%}
    {%- case block.type -%}
    {%- when 'topbar' -%}
    {%- render 'header-topbar', container: container, block: block -%}
    {%- endcase -%} 
    {%- endfor -%}
    <div class="header_bottom  {% if header_type !=  "logo__left--menu-bottom" or header_type != "logo__center--menu-bottom" %} {{ sticky }} {%- endif -%} {{ header_type }} color-{{ section.settings.color_scheme }} gradient">
      <div class="{{ container }}">
        <div class="header__inner row">
          {%- case header_type -%}
          {%- when 'logo__left--menu-center' -%}
          {%- render 'header-design-1',
              	search_button: search_button,
          cart_icon: cart_icon,
          wishlist_icon: wishlist_icon,
          compare_icon: compare_icon,
          account_icon: account_icon
          -%}
          {%- when 'logo__center--menu-left' -%}
          {%- render 'header-design-2',
                search_button: search_button,
          cart_icon: cart_icon,
          wishlist_icon: wishlist_icon,
          compare_icon: compare_icon,
          account_icon: account_icon
          -%}
          {%- when 'logo__center--menu-bottom' -%}
          {%- render 'header-design-3',
            	search_button: search_button,
          cart_icon: cart_icon,
          wishlist_icon: wishlist_icon,
          compare_icon: compare_icon,
          account_icon: account_icon
          -%}
          {% else %}
          {%- render 'header-design-4', 
            	search_button: search_button, 
          cart_icon: cart_icon ,
          wishlist_icon: wishlist_icon,
          compare_icon: compare_icon,
          account_icon: account_icon
          -%}
          {%- endcase -%}
        </div>
      </div>
    </div>
    {%- if header_type ==  "logo__left--menu-bottom" or header_type == "logo__center--menu-bottom" -%}
    <div class="header__menu--bar {{ sticky }} color-{{ section.settings.color_scheme_2 }} color-{{ section.settings.color_scheme }} gradient">
      <div class="{{ container }}">

        <div class="header__bottom--inner d-flex align-items-center">
          <!--  Category menu -->

          {%- if section.settings.category_menu -%}
          <div class="categories__menu">
            <div class="categories__menu--header text-white d-flex align-items-center">
              {{ section.settings.category__svg_icon }}
              {%- if section.settings.cat_img_icon != blank -%}
              <img
                   src="{{ section.settings.cat_img_icon | img_url: '30x' }}"
                   alt="{{ section.settings.cat_img_icon.alt | escape }}"
                   width="30"
                   height="{{ 30 | divided_by: section.settings.cat_img_icon.aspect_ratio | ceil }}"
                   loading="lazy"
                   >
              {%- endif -%}
              <span class="categories__menu--title">{{ section.settings.category_text }}</span>
              <svg class="categories__arrowdown--icon" xmlns="http://www.w3.org/2000/svg" width="12.355" height="8.394" viewBox="0 0 10.355 6.394">
                <path  d="M15.138,8.59l-3.961,3.952L7.217,8.59,6,9.807l5.178,5.178,5.178-5.178Z" transform="translate(-6 -8.59)" fill="currentColor"/>
              </svg>
            </div>
            {%- render 'category-menu' -%}
          </div>
          {%- endif -%}
          <!-- Category menu end -->

          <!-- Header Menu Start -->


          <div class="header__right--area {% if section.settings.category_menu %} width_calc {% endif %} d-flex {% if section.settings.header_right_info %} justify-content-between {% else %} justify-content-{{ section.settings.menu_position }}{% endif %} align-items-center">
            <div class="header__menu">
              <nav class="header__menu d-md-none ">
                {%- render 'menu-nav' -%}
              </nav>
            </div>
            
            {%- if section.settings.header_right_info -%}
            <div class="header__right--info d-flex align-items-center">
              <div class="suport__contact d-flex align-items-center">
                {%- if section.settings.phone_img_icon != blank -%}
                <img
                     src="{{ section.settings.phone_img_icon | img_url: '50x' }}"
                     alt="{{ section.settings.phone_img_icon.alt | escape }}"
                     width="50"
                     height="{{ 50 | divided_by: section.settings.phone_img_icon.aspect_ratio | ceil }}"
                     loading="lazy"
                     >
                {%- endif -%}
                {{ section.settings.phone_icon }}
                <p class="suport__contact--text text-white">
                  {{ section.settings.phone_text }}
                </p>
              </div>
            </div>
            {%- endif -%}
            
          </div>

          <!-- Header Menu End -->
        </div>
      </div>
    </div>
    {%- endif -%}
  </header>


{%- render 'predictive-search-modal' -%}
{%- unless template contains 'cart' -%}
{%- render 'cart-notification', color_scheme: section.settings.color_scheme -%}
{%- endunless -%}
{%- render 'mobile-offcanvas-menu', account_icon: account_icon, wishlist_icon: wishlist_icon -%}


  
{% schema %}
  {
    "name": "Header",
    "settings": [
  		
  		{
          "type": "select",
          "id": "container",
          "label": "Page width",
          "default": "container",
          "options": [
            {
              "value": "container",
              "label": "Boxed"
            },
            {
              "value": "container-fluid",
              "label": "Full width"
            },
            {
              "value": "no-offset",
              "label": "Full width no gap"
            }
          ]
        },
        {
          "type": "select",
          "id": "header_design",
          "label": "Header design",
          "options": [
              {
                  "group": "Logo and menu in 1 line",
                  "value": "logo__left--menu-center",
                  "label": "Logo left"
              },
              {
                  "group": "Logo and menu in 1 line",
                  "value": "logo__center--menu-left",
                  "label": "Logo center"
              },
              {
                  "group": "Logo and menu in 2 lines",
                  "value": "logo__center--menu-bottom",
                  "label": "Logo center"
              },
              {
                  "group": "Logo and menu in 2 lines",
                  "value": "logo__left--menu-bottom",
                  "label": "Logo left"
              }
          ],
          "default": "logo__left--menu-center"
      	},
  		
		{
          "type": "image_picker",
          "id": "logo",
          "label": "t:sections.header.settings.logo.label"
        },
		{
          "type": "range",
          "id": "logo_width",
          "min": 50,
          "max": 250,
          "step": 10,
          "default": 100,
          "unit": "t:sections.header.settings.logo_width.unit",
          "label": "t:sections.header.settings.logo_width.label"
        },
  		{
          "type": "link_list",
          "id": "menu",
          "default": "main-menu",
          "label": "t:sections.header.settings.menu.label"
        },
  		{
          "type": "header",
          "content": "Header sticky"
        },
  		{
          "type": "checkbox",
          "id": "header_sticky",
          "default": true,
          "label": "Header sticky enable"
        }, 
  		{
          "type": "header",
          "content": "Header Options"
        }, 
  		{
          "type": "checkbox",
          "id": "account_button",
          "default": true,
          "label": "Show account icon"
        },
  		{
          "type": "checkbox",
          "id": "cart_drawer_button",
          "default": true,
          "label": "Show cart icon"
        },
  		{
          "type": "checkbox",
          "id": "wishlist_button",
          "default": true,
          "label": "Show wishlist icon"
        },
  		{
          "type": "checkbox",
          "id": "compare_button",
          "default": true,
          "label": "Show compare icon"
        },
  		{
          "type": "select",
          "id": "search_type",
          "label": "Search",
  		  "info": "Only applicable for Logo and menu in 2 lines header design",
          "options": [
              {
                  "value": "icon",
                  "label": "Show icon"
              },
              {
                  "value": "search_box",
                  "label": "Show search box"
              },
              {
                  "value": "hide",
                  "label": "hide"
              }
          ],
          "default": "icon"
      	},
  		{
          "type": "select",
          "id": "color_scheme",
          "options": [
            {
              "value": "accent-1",
              "label": "t:sections.header.settings.color_scheme.options__1.label"
            },
            {
              "value": "accent-2",
              "label": "t:sections.header.settings.color_scheme.options__2.label"
            },
            {
              "value": "background-1",
              "label": "t:sections.header.settings.color_scheme.options__3.label"
            },
            {
              "value": "background-2",
              "label": "t:sections.header.settings.color_scheme.options__4.label"
            },
            {
              "value": "inverse",
              "label": "t:sections.header.settings.color_scheme.options__5.label"
            }
          ],
          "default": "background-1",
          "label": "t:sections.header.settings.color_scheme.label"
        },
        {
          "type": "header",
          "content": "Menu bar color"
        }, 
  		{
          "type": "select",
          "id": "color_scheme_2",
          "options": [
            {
              "value": "accent-1",
              "label": "t:sections.header.settings.color_scheme.options__1.label"
            },
            {
              "value": "accent-2",
              "label": "t:sections.header.settings.color_scheme.options__2.label"
            },
            {
              "value": "background-1",
              "label": "t:sections.header.settings.color_scheme.options__3.label"
            },
            {
              "value": "background-2",
              "label": "t:sections.header.settings.color_scheme.options__4.label"
            },
            {
              "value": "inverse",
              "label": "t:sections.header.settings.color_scheme.options__5.label"
            }
          ],
          "default": "accent-1",
          "label": "t:sections.header.settings.color_scheme.label"
        },
  		{ 
          "type": "header",
          "content": "Category menu",
  		  "info": "This will apply when the menu bar is at the bottom and the logo at the top left"
        },
  		{
          "type": "checkbox",
          "id": "category_menu",
          "default": true,
          "label": "Enable category menu"
        },
  		{
          "type": "text",
          "id": "category_text",
          "default": "All Categories",
          "label": "Category label"
        },
        {
          "type": "image_picker",
          "id": "cat_img_icon",
          "label": "Category image icon"
        },
  		{
          "type": "textarea",
          "id": "category__svg_icon",
          "label": "Category svg icon",
          "info": "Put here SVG code as an icon"
        },
        {
          "type": "color",
          "id": "cat_label_bg",
          "default": "#35a212",
          "label": "Background color"
        },
        {
          "type": "color",
          "id": "cat_label_text",
          "default": "#fff",
          "label": "Text color"
        },
		{ 
          "type": "header",
          "content": "Phone text",
  		  "info": "This will apply when the menu bar is at the bottom and the logo at the top left"
        },
  		{
          "type": "checkbox",
          "id": "header_right_info",
          "default": true,
          "label": "Enable phone text"
        },
  		{
  		  "type": "textarea",
  		  "id": "phone_text",
  		  "label": "Phone text"
  		},
  		{
          "type": "image_picker",
          "id": "phone_img_icon",
          "label": "Phone image icon"
        },
  		{
  		  "type": "textarea",
  		  "id": "phone_icon",
  		  "label": "Phone icon",
  		  "info": "Put here SVG code as an icon"
  		},
  		{
          "type": "header",
          "content": "Menu position"
        },
  		{
          "type": "select",
          "id": "menu_position",
          "label": "Menu alignment",
  		  "info": "Only applicable for Logo and menu in 2 lines header design.Also, if disable phone text then it will display perfectly.",
          "options": [
              {
                  "value": "center",
                  "label": "Center"
              },
              {
                  "value": "between",
                  "label": "Left"
              },
              {
                  "value": "end",
                  "label": "Right"
              }
          ],
          "default": "between"
      	}
	],
  	"blocks": [
        {
        "type": "mega-menu",
        "name": "Mega menu",
        "settings": [
          {
            "type": "text",
            "id": "heading",
            "label": "Menu item",
            "info": "Enter the name of the menu item to which you want to add a mega menu. [Learn more](https://themeadora.com/doc)"
          },
          {
            "type": "header",
            "content": "Promotion1"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "select",
            "id": "height",
            "options": [
              {
                "value": "adapt",
                "label": "t:sections.image-with-text.settings.height.options__1.label"
              },
              {
                "value": "square",
                "label": "Square"
              },
      		{
                "value": "portrait",
                "label": "Portrait"
              },
              {
                "value": "landscape",
                "label": "Landscape"
              },
              {
                "value": "16-9",
                "label": "Wide"
              }
            ],
              "default": "adapt",
              "label": "t:sections.image-with-text.settings.height.label"
          },
          {
            "type": "text",
            "id": "promo1_heading",
            "label": "Heading"
          },
          {
            "type": "richtext",
            "id": "promo1_text",
            "label": "Text"
          },
          {
            "type": "url",
            "id": "promo1_link",
            "label": "Link"
          },
          {
            "type": "header",
            "content": "Promotion2"
          },
          {
            "type": "image_picker",
            "id": "image_2",
            "label": "Image"
          },
          {
            "type": "select",
            "id": "height_2",
            "options": [
              {
                "value": "adapt",
                "label": "t:sections.image-with-text.settings.height.options__1.label"
              },
              {
                "value": "square",
                "label": "Square"
              },
      		{
                "value": "portrait",
                "label": "Portrait"
              },
              {
                "value": "landscape",
                "label": "Landscape"
              },
              {
                "value": "16-9",
                "label": "Wide"
              }
            ],
              "default": "adapt",
              "label": "t:sections.image-with-text.settings.height.label"
          },
          {
            "type": "text",
            "id": "promo2_heading",
            "label": "Heading"
          },
          {
            "type": "richtext",
            "id": "promo2_text",
            "label": "Text"
          },
          {
            "type": "url",
            "id": "promo2_link",
            "label": "Link"
          }
        ]
      },
		{
          "type": "category_menu",
          "name": "Category menu",
          "settings": [ 
            {
              "type": "text",
              "id": "cat_menu_name",
              "default": "Menu label",
              "label": "Menu name"
            },
  			{
              "type": "url",
              "id": "cat_menu_url",
              "label": "Menu url"
            },
			{
              "type": "textarea",
              "id": "svg_icon",
              "label": "Menu svg icon",
  			  "info": "Put here SVG code as an icon"
            },
  			{
              "type": "image_picker",
              "id": "image",
              "label": "Menu image icon"
            },
  			{
              "type": "link_list",
              "id": "menu",
              "label": "Select sub menu"
            }
          ]
        },
  		{
          "type": "topbar",
          "name": "Topbar",
  		  "limit": 1,
          "settings": [
           {
            "type": "header",
            "content": "Header Topbar"
          },
          {
            "type": "select",
            "id": "topbar_color_scheme",
            "options": [
                {
                    "value": "accent-1",
                    "label": "t:sections.header.settings.color_scheme.options__1.label"
                  },
                  {
                    "value": "accent-2",
                    "label": "t:sections.header.settings.color_scheme.options__2.label"
                  },
                  {
                    "value": "background-1",
                    "label": "t:sections.header.settings.color_scheme.options__3.label"
                  },
                  {
                    "value": "background-2",
                    "label": "t:sections.header.settings.color_scheme.options__4.label"
                  },
                  {
                    "value": "inverse",
                    "label": "t:sections.header.settings.color_scheme.options__5.label"
                  }
                ],
                "default": "background-2",
                "label": "t:sections.header.settings.color_scheme.label"
            },
  			{
              "type": "header",
              "content": "Country\/region selector",
              "info": "To add a country\/region, go to your [payment settings.](\/admin\/settings\/payments)"
            },
            {
              "type": "checkbox",
              "id": "enable_country_selector",
              "default": true,
              "label": "Enable country\/region selector"
            },
            {
              "type": "header",
              "content": "Language selector",
              "info": "To add a language, go to your [language settings.](\/admin\/settings\/languages)"
            },
            {
              "type": "checkbox",
              "id": "enable_language_selector",
              "default": true,
              "label": "Enable language selector"
            },
           	{
              "type": "header",
              "content": "Social media"
            },
  			{
              "type": "checkbox",
              "id": "social_media_enable",
              "default": true,
              "label": "Enable social media"
            },
  			{
              "type": "header",
              "content": "Contact info"
            },
  			{
              "type": "checkbox",
              "id": "show_phone",
              "default": true,
              "label": "Show phone"
            },
  			{
              "type": "text",
              "id": "phone_text",
              "default": "+84 (0)222 392 566",
              "label": "Phone text"
            },
  			{
              "type": "checkbox",
              "id": "show_email",
              "default": true,
              "label": "Show email"
            },
  			{
              "type": "text",
              "id": "email_text",
              "default": "info@webmail.com",
              "label": "Phone text"
            }
          ]
        }
	]
  }
{% endschema %}