{{ 'section-product-tabs.css' | asset_url | stylesheet_tag }}
{{ 'section-text-with-banner.css' | asset_url | stylesheet_tag }}

{{ 'product-card.css' | asset_url | stylesheet_tag }}
{{ 'component-rating.css' | asset_url | stylesheet_tag }}
{{ 'countdown-timer.css' | asset_url | stylesheet_tag }}
{{ 'stock-countdwon.css' | asset_url | stylesheet_tag }}


{%- comment -%}
{{ 'component-price.css' | asset_url | stylesheet_tag }}
{%- endcomment -%}

<style>
.rating {
  display: inline-block;
  margin: 0;
}

.product .rating-star {
  --letter-spacing: 0.8;
  --font-size: 1.7;
}

.product__card .rating-star {
  --letter-spacing: 0.7;
  --font-size: 1.4;
}

.rating-star {
  --percent: calc(
    (
        var(--rating) / var(--rating-max) + var(--rating-decimal) *
          var(--font-size) /
          (var(--rating-max) * (var(--letter-spacing) + var(--font-size)))
      ) * 100%
  );
  letter-spacing: calc(var(--letter-spacing) * 1rem);
  font-size: calc(var(--font-size) * 1rem);
  line-height: 1;
  display: inline-block;
  font-family: Times;
  margin: 0;
}

.rating-star::before {
  content: '★★★★★';
  background: #ffc107;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.rating-text {
  display: none;
}

.rating-count {
  display: inline-block;
  margin: 0;
}

@media (forced-colors: active) {
  .rating {
    display: none;
  }

  .rating-text {
    display: block;
  }
} 
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.mobile_padding_top }}px;
    padding-bottom: {{ section.settings.mobile_padding_bottom }}px;
  }
  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
    
   
</style>

{%- liquid
  
 	assign container = ''
  	if section.settings.container == "container"
    assign container = 'container'
    elsif section.settings.container == "container-fluid"
    assign container = 'container-fluid'
    else
    assign container = 'container-fluid px-0'
    endif

-%}



<div class="product__section section-{{ section.id }}-padding section-products--tabs"  data-section-id="{{ section.id }}" data-section-type="product-tab">
  <div class="{{ container }}">

    <div class="product__section--topbar d-flex justify-content-between align-items-center mb-50">

      <div class="section-heading text-center">
        <h2 class="section-heading__title mb-0 {{ section.settings.heading_size }}">{{- section.settings.title -}}</h2>
      </div>


      <ul class="product__tab--one product__tab--btn d-flex justify-content-center mb-0">
        {%- for block in section.blocks -%}
        {%- case block.type -%}
        {%- when 'product_tab' -%}
        <li class="product__tab--btn__list {% if forloop.first == true %}active{% endif %}" data-toggle="tab" data-target="#tab__target--{{ block.id }}" {{ block.shopify_attributes }}>
          {{ block.settings.title }}
        </li>
        {%- endcase -%}
        {%- endfor -%}
      </ul>
    </div>
    <div class="tab_content">
      {%- for block in section.blocks -%}
      {%- case block.type -%}
      {%- when 'product_tab' -%}
        {%- liquid 
        assign featured_product_limit =  block.settings.products_to_show 
        assign collection = collections[block.settings.collection] 
        
        	assign desktop_content_position_class = block.settings.desktop_content_position

        case desktop_content_position_class
            when "top"
                assign desktop_content_position_class_assign = "justify-content-start" 
                 assign text_align = "text-left"
            when "bottom"
                assign desktop_content_position_class_assign = "justify-content-end"
                assign text_align = "text-right"
            else
                assign desktop_content_position_class_assign = "justify-content-center"
                assign text_align = "text-center"
        endcase


        assign desktop_content_alignment_class = block.settings.desktop_content_alignment

        case desktop_content_alignment_class
            when "right"
                 assign desktop_content_alignment_class_assign = "align-items-end"
            when "center"
                assign desktop_content_alignment_class_assign = "align-items-center"
            else
                assign desktop_content_alignment_class_assign = "align-items-start"
        endcase
        
         if block.settings.button_type == "style1"
            assign button_class = "button button--small "
         else
            assign button_class = "link"
         endif

       -%}
      <div id="tab__target--{{ block.id }}" class="tab_pane {% if forloop.first == true %}active show{% endif %}" {{ block.shopify_attributes }}>
        <div class="product__section--inner">
          <div class="row row-cols-lg-4 row-cols-md-3 row-cols-2 mb--n28">
            {%- for product in collection.products limit: featured_product_limit -%}
            <div class="col mb-30">
              {% render 'product-card',
       		  product_card_product: product,
              media_size: section.settings.image_ratio,
              show_secondary_image: section.settings.show_secondary_image,
              show_vendor: section.settings.show_vendor,
              show_badge: section.settings.show_badges,
              show_cart_button: section.settings.show_cart_button,
              show_quick_view: section.settings.show_quick_view_button,
              show_quick_compare: section.settings.show_compare_view_button,
              show_wishlist: section.settings.show_wishlist_button,
              show_countdown: section.settings.show_countdown,
              show_title: section.settings.show_title,
              show_price: section.settings.show_price,
              show_product_description: settings.show_product_description,
              show_rating: section.settings.show_product_rating,
              inventory_status: section.settings.inventory_status,
              box_shadow: section.settings.box_shadow
              %}
            </div>
            {%- else -%}

            {%- assign a = 1 -%}
            {%- for i in (1..featured_product_limit) -%}
            {%- liquid
              assign product_item = "product-" | append: a
              assign a = a | plus: 1
            -%}
                  {%- render 'product-card-placeholder', product_item: product_item, productItem: "col mb-30" -%}
                  {%- liquid 
              if a == 7 
              assign a = 1
              endif
            -%} 
            {%- endfor -%}
             {%- endfor -%}
            <div class="col-lg-6 col-md-8 col-12">
              <div class="banner__items position__relative" 
                   style=" 
                          --banner-heading-color: {{ block.settings.heading_color }};
                          --banner-subheadng-color: {{ block.settings.subheading_color }};
                          --banner-link-color: {{ block.settings.link_color }};
                          " id="banner_{{ block.id }}">

                <a class="banner__items--thumbnail d-flex {{ desktop_content_position_class_assign }} {{ desktop_content_alignment_class_assign }} text--with__banner--media--{{ block.settings.height }} {% if block.settings.image == blank %} placeholder{% endif %}" 
                   href="{{ block.settings.button_link  }}"
                   >


                  <div class="text--with__banner--media  {% if block.settings.image != blank %}media {% endif %}">
                    {%- if block.settings.image != blank -%}
                    <img
                         srcset="{%- if block.settings.image.width >= 165 -%}{{ block.settings.image | image_url: width: 165 }} 165w,{%- endif -%}
                                 {%- if block.settings.image.width >= 360 -%}{{ block.settings.image | image_url: width: 360 }} 360w,{%- endif -%}
                                 {%- if block.settings.image.width >= 535 -%}{{ block.settings.image | image_url: width: 535 }} 535w,{%- endif -%}
                                 {%- if block.settings.image.width >= 750 -%}{{ block.settings.image | image_url: width: 750 }} 750w,{%- endif -%}
                                 {%- if block.settings.image.width >= 1070 -%}{{ block.settings.image | image_url: width: 1070 }} 1070w,{%- endif -%}
                                 {%- if block.settings.image.width >= 1500 -%}{{ block.settings.image | image_url: width: 1500 }} 1500w,{%- endif -%}
                                 {{ block.settings.image | image_url }} {{ block.settings.image.width }}w"
                         src="{{ block.settings.image | image_url: width: 1500 }}"
                         sizes="(min-width: {{ settings.container_lg_width }}px) {{ settings.container_lg_width | minus: 100 | divided_by: 2 }}px,
                                (min-width: 750px) calc((100vw - 130px) / 2), calc(100vw - 60px)
                                "
                         alt="{{ block.settings.image.alt | escape }}"
                         loading="lazy"
                         width="{{ block.settings.image.width }}"
                         height="{{ block.settings.image.height }}"
                         >
                    {%- else -%}
                    {{ 'image' | placeholder_svg_tag: 'placeholder-svg-2' }}
                    {%- endif -%}
                  </div>

                  <div class="banner__items--content {{ text_align }}">

                    {%- if block.settings.heading != blank -%}
                    <h2 class="banner__items--content__title {{ block.settings.heading_size }}">{{ block.settings.heading }}</h2>
                    {%- endif -%}

                    {%- if block.settings.subheading != blank -%}
                    <p class="banner__items--content__desc">{{ block.settings.subheading }}</p>
                    {%- endif -%}

                    {%- if block.settings.button_text != blank -%}
                    <span class="{{ button_class }} ">{{ block.settings.button_text }}</span>
                    {%- endif -%}
                  </div>
                </a>
              </div>
              {%- style -%}
              #banner_{{ block.id }} .banner__items--thumbnail:after {
              opacity: {{ block.settings.image_overlay_opacity | divided_by: 100.0 }};
              }
              {%- if block.settings.height == 'adapt'  -%}
              #banner_{{ block.id }} .banner__items--thumbnail::before {
              padding-bottom: {{ 1 | divided_by: block.settings.image.aspect_ratio | times: 100 }}%;
              }
              {%- endif -%}
              {%- endstyle -%}
            </div>
          </div>
        </div>
      </div>
      {%- endcase -%}
      {%- endfor -%}
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Product tabs banner",
    "settings": [
	{
      "type": "header",
      "content": "General"
    },
    {
      "type": "select",
      "id": "container",
      "label": "Container type",
      "default": "container",
      "options": [
		{
          "value": "container",
          "label": "Fixed container"
        },
        {
          "value": "container-fluid",
          "label": "Fluid container"
        },
        {
          "value": "no-offset",
          "label": "Full width without offset"
        }
      ]
    },
	{
      "type": "header",
      "content": "Section header"
    },
    {
      "type": "text",
      "id": "title",
      "default": "Featured collection",
      "label": "t:sections.featured-collection.settings.title.label"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
      {
      "value": "h3",
      "label": "Small"
      },
      {
      "value": "h2",
      "label": "Medium"
      },
      {
      "value": "h1",
      "label": "Large"
      }
      ],
      "default": "h2",
      "label": "Heading size"
    },
	{
      "type": "header",
      "content": "Product card" 
    },
	{
        "type": "select",
        "id": "image_ratio",
        "options": [
          {
            "value": "adapt",
            "label": "t:sections.main-collection-product-grid.settings.image_ratio.options__1.label"
          },
          {
            "value": "portrait",
            "label": "t:sections.main-collection-product-grid.settings.image_ratio.options__2.label"
          },
          {
            "value": "square",
            "label": "t:sections.main-collection-product-grid.settings.image_ratio.options__3.label"
          }
        ],
        "default": "adapt",
        "label": "t:sections.main-collection-product-grid.settings.image_ratio.label"
      },
      {
        "type": "checkbox",
        "id": "show_secondary_image",
        "default": false,
        "label": "t:sections.main-collection-product-grid.settings.show_secondary_image.label"
      },
      {
        "type": "checkbox",
        "id": "show_badges",
        "default": true,
        "label": "Show badges"
      },
      {
        "type": "checkbox",
        "id": "show_cart_button",
        "default": true,
        "label": "Show cart button"
      },
      {
        "type": "checkbox",
        "id": "show_quick_view_button",
        "default": true,
        "label": "Show quick shop button"
      },
      {
        "type": "checkbox",
        "id": "show_compare_view_button",
        "default": true,
        "label": "Show compare button"
      },
      {
        "type": "checkbox",
        "id": "show_wishlist_button",
        "default": true,
        "label": "Show wishlist button"
      },
      {
        "type": "checkbox",
        "id": "show_title",
        "default": true,
        "label": "Show title"
      },
      {
        "type": "checkbox",
        "id": "show_price",
        "default": true,
        "label": "Show price"
      },
      {
        "type": "checkbox",
        "id": "show_vendor",
        "default": false,
        "label": "t:sections.main-collection-product-grid.settings.show_vendor.label"
      },
      
	 {
        "type": "checkbox",
        "id": "show_countdown",
        "default": false,
        "label": "Show countdown"
    },
	{
        "type": "checkbox",
        "id": "box_shadow",
        "default": true,
        "label": "Show box shadow"
    },
    {
      "type": "checkbox",
      "id": "show_product_rating",
      "default": false,
      "label": "Show product rating"
    },	
	{
        "type": "checkbox",
        "id": "inventory_status",
        "label": "Show inventory status",
        "default": false
    },
	{
      "type": "header",
      "content": "Section padding"
    },
    {
          "type": "paragraph",
          "content": "Desktop"
        },
        {
          "type": "range",
          "id": "padding_top",
          "min": 0,
          "max": 150,
          "step": 5,
          "unit": "px",
          "label": "Padding top",
          "default": 0
        },
        {
          "type": "range",
          "id": "padding_bottom",
          "min": 0,
          "max": 150,
          "step": 5,
          "unit": "px",
          "label": "Padding bottom",
          "default": 0
        },
		{
          "type": "paragraph",
          "content": "Mobile"
        },
		{
          "type": "range",
          "id": "mobile_padding_top",
          "min": 0,
          "max": 150,
          "step": 5,
          "unit": "px",
          "label": "Padding top",
          "default": 0
        },
        {
          "type": "range",
          "id": "mobile_padding_bottom",
          "min": 0,
          "max": 150,
          "step": 5,
          "unit": "px",
          "label": "Padding bottom",
          "default": 0
        }
	],
	"blocks": [
       {
          "type": "product_tab",
          "name": "Tab",
          "settings": [
			{
              "type": "text",
              "id": "title",
              "default": "Tab",
              "label": "Heading"
            },
            {
              "type": "collection",
              "id": "collection",
              "label": "Collection"
            },
            {
              "type": "range",
              "id": "products_to_show",
              "min": 2,
              "max": 6,
              "step": 1,
              "default": 6,
              "label": "t:sections.featured-collection.settings.products_to_show.label"
            },
            {
              "type": "header",
              "content": "Banner settings"
            },
			{
              "type": "image_picker",
              "id": "image",
              "label": "Image"
            },
			{
                "type": "select",
                "id": "height",
                "options": [
                  {
                    "value": "adapt",
                    "label": "Adapt to image"
                  },
                  {
                    "value": "small",
                    "label": "t:sections.image-with-text.settings.height.options__2.label"
                  },
                  {
                    "value": "medium",
                    "label": "Medium"
                  },
                  {
                    "value": "large",
                    "label": "t:sections.image-with-text.settings.height.options__3.label"
                  }
                ],
                "default": "adapt",
                "label": "t:sections.image-with-text.settings.height.label"
              },
			{
              "type": "range",
              "id": "image_overlay_opacity",
              "min": 0,
              "max": 100,
              "step": 10,
              "unit": "%",
              "label": "Image overlay opacity",
              "default": 0
            },
			{
              "type": "textarea",
              "id": "heading",
              "default": "Heading",
              "label": "Heading"
            },
			{
              "type": "select",
              "id": "heading_size",
              "options": [
                {
                  "value": "h4",
                  "label": "Small"
                },
                {
                  "value": "h3",
                  "label": "Medium"
                },
                {
                  "value": "h2",
                  "label": "Large"
                }
              ],
              "default": "h2",
              "label": "Heading size"
            },
			{
              "type": "textarea",
              "id": "subheading",
              "default": "Lorem ipsum dolor sit, amet consectetur is adipisicing elit.",
              "label": "Text"
            },
			{
              "type": "text",
              "id": "button_text",
              "default": "Shop now",
              "label": "Button title"
            },
			{
              "type": "url",
              "id": "button_link",
              "label": "Banner url"
            },
			{
            "type": "select",
            "id": "button_type",
            "label": "Button type",
            "default": "style2",
            "options": [
                {
                "value": "style1",
                "label": "Style 1"
                },
                {
                "value": "style2",
                "label": "Style 2"
                }
              ]
           },
			{
              "type": "select",
              "id": "desktop_content_alignment",
              "options": [
                {
                  "value": "left",
                  "label": "Top"
                },
                {
                  "value": "center",
                  "label": "Middle"
                },
                {
                  "value": "right",
                  "label": "Bottom"
                }
              ],
              "default": "left",
              "label": "Content position"
            },
			{
              "type": "select",
              "id": "desktop_content_position",
              "options": [
                {
                  "value": "top",
                  "label": "Left"
                },
                {
                  "value": "middle",
                  "label": "Center"
                },
                {
                  "value": "bottom",
                  "label": "Right"
                }
              ],
              "default": "top",
              "label": "Content alignment"
            }, 
			{
              "type": "color",
              "id": "heading_color",
              "default": "#3cb815",
              "label": "Heading color"
            },
			{
              "type": "color",
              "id": "subheading_color",
              "default": "#fff",
              "label": "Subheading color"
            },
			{
              "type": "color",
              "id": "link_color",
              "default": "#fff",
              "label": "Link button color",
			  "info": "It will work on button style 2"
            }
        ]
      }
	],
	"presets": [
      {
        "name": "Product tabs banner",
		"blocks":[
				{
                  "type": "product_tab",
				   "settings":{
                        "title":"Tab 1"
                    }
                },
				{
                  "type": "product_tab",
					"settings":{
                        "title":"Tab 2"
                    }
                }
			] 
      }
    ]
  }
{% endschema %}