{{ 'section-testimonial.css' | asset_url | stylesheet_tag }}


<style>
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.mobile_padding_top }}px;
    padding-bottom: {{ section.settings.mobile_padding_bottom }}px;
  }
  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
    
   
</style>

{%- liquid


	assign productShowLg = section.settings.products_show_on_desktop
    assign productShowMd = section.settings.products_show_on_small_desktop
    assign productShowMd = section.settings.products_show_on_tablet
    assign productShowSm = section.settings.products_show_on_mobile
    

-%}


<div class="testimonial__section slideShow section-{{ section.id }}-padding color-{{ section.settings.bg_color_scheme }} gradient"
     data-section-id="{{ section.id }}" 
     data-section-type="slideShow"
     data-slide-autoplay="{{ section.settings.auto_rotate }}"
     data-autoplay-duration="{{ section.settings.change_slides_speed }}000"
     data-slide-loop="{{ section.settings.enable_loop }}"
     data-slideshow="30"
     data-slidesperview="{{ productShowLg }}"
     data-samlldesktopview="{{ productShowMd }}"
     data-show-tablet="{{ productShowMd }}"
     data-show-mobile="{{ productShowSm }}"
     
    >
  {%- if section.settings.image != blank -%}
  <div class="testimonial--banner__media media">
      <img
        srcset="{%- if section.settings.image.width >= 375 -%}{{ section.settings.image | image_url: width: 375 }} 375w,{%- endif -%}
          {%- if section.settings.image.width >= 550 -%}{{ section.settings.image | image_url: width: 550 }} 550w,{%- endif -%}
          {%- if section.settings.image.width >= 750 -%}{{ section.settings.image | image_url: width: 750 }} 750w,{%- endif -%}
          {%- if section.settings.image.width >= 1100 -%}{{ section.settings.image | image_url: width: 1100 }} 1100w,{%- endif -%}
          {%- if section.settings.image.width >= 1500 -%}{{ section.settings.image | image_url: width: 1500 }} 1500w,{%- endif -%}
          {%- if section.settings.image.width >= 1780 -%}{{ section.settings.image | image_url: width: 1780 }} 1780w,{%- endif -%}
          {%- if section.settings.image.width >= 2000 -%}{{ section.settings.image | image_url: width: 2000 }} 2000w,{%- endif -%}
          {%- if section.settings.image.width >= 3000 -%}{{ section.settings.image | image_url: width: 3000 }} 3000w,{%- endif -%}
          {%- if section.settings.image.width >= 3840 -%}{{ section.settings.image | image_url: width: 3840 }} 3840w,{%- endif -%}
          {{ section.settings.image | image_url }} {{ section.settings.image.width }}w"
        sizes="100vw"
        src="{{ section.settings.image | image_url: width: 1500 }}"
        loading="lazy"
        alt="{{ section.settings.image.alt | escape }}"
        width="{{ section.settings.image.width }}"
        height="{{ section.settings.image.width | divided_by: section.settings.image.aspect_ratio }}"
      >
    </div>
  {%- endif -%}
  
  <div class="container-fluid p-0">
    <div class="section__heading text-center mb-50">
      <span class="section__heading--subtitle">{{- section.settings.subheading -}}</span>
      <h2 class="section__heading--maintitle {{ section.settings.heading_size }}">{{- section.settings.heading -}}</h2>
    </div>
    <div class="testimonial__section--inner hero__slider--activation testimonial__swiper--activation swiper">
      <div class="swiper-wrapper">
        {%- for block in section.blocks -%}
        {%- case block.type -%}
        {%- when 'testimonial' -%}
        <div class="swiper-slide">
          <div class="testimonial__items d-flex align-items-center color-{{ section.settings.color_scheme }}">
            <div class="testimonial__items--thumbnail">
              
              {%- if block.settings.image != blank -%}
              <div class="media media--transparent media--{{ section.settings.image_ratio }} "
                   {% if section.settings.image_ratio == 'adapt' %}
                   style="padding-bottom: {{ 1 | divided_by: block.settings.image.aspect_ratio | times: 100 }}%;"
                   {% endif %}>
                <img
                     class="multicolumn-card__image"
                     srcset="{%- if block.settings.image.width >= 275 -%}{{ block.settings.image | image_url: width: 275 }} 275w,{%- endif -%}
                             {%- if block.settings.image.width >= 550 -%}{{ block.settings.image | image_url: width: 550 }} 550w,{%- endif -%}
                             {%- if block.settings.image.width >= 710 -%}{{ block.settings.image | image_url: width: 710 }} 710w,{%- endif -%}
                             {%- if block.settings.image.width >= 1420 -%}{{ block.settings.image | image_url: width: 1420 }} 1420w,{%- endif -%}
                             {{ block.settings.image | image_url }} {{ block.settings.image.width }}w"
                     src="{{ block.settings.image | image_url: width: 550 }}"
                     sizes="(min-width: 990px) {% if section.blocks.size <= 2 %}710px{% else %}550px{% endif %},
                            (min-width: 750px) {% if section.blocks.size == 1 %}710px{% else %}550px{% endif %},
                            calc(100vw - 30px)"
                     alt="{{ block.settings.image.alt }}"
                     height="{{ block.settings.image.height }}"
                     width="{{ block.settings.image.width }}"
                     loading="lazy"
                     >
              </div>
              {%- else -%}
              <div class="placeholder_svg_parent media--circle" style="padding-bottom: 100%">
                {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
                {{ 'collection-' | append: current | placeholder_svg_tag: 'placeholder-svg-2' }}
              </div>
              {%- endif -%}
              
            </div>
            <div class="testimonial__items--content">
              <h3 class="testimonial__items--title">{{ block.settings.heading }}</h3>
              <span class="testimonial__items--subtitle">{{ block.settings.subheading }}</span>
              <p class="testimonial__items--desc">{{ block.settings.text }}</p>
              <div class="ratting testimonial__ratting">
                <ul class="d-flex testimonial__ratting--inner">
                  <li class="testimonial__ratting--list">
                    <span class="testimonial__ratting--icon">
                      <svg xmlns="http://www.w3.org/2000/svg" width="15.54" height="15.555" viewBox="0 0 20.54 19.555">
                        <path  d="M9.947,24.316c.168-.388.446-.388.616,0L13,29.9a1.447,1.447,0,0,0,1.076.783l6.067.589c.423.039.507.3.191.585L15.77,35.9a1.456,1.456,0,0,0-.411,1.267l1.315,5.95c.092.415-.134.577-.5.364L10.92,40.4a1.45,1.45,0,0,0-1.331,0L4.335,43.485c-.368.214-.589.051-.5-.364l1.315-5.95A1.462,1.462,0,0,0,4.74,35.9L.176,31.862c-.316-.281-.232-.546.191-.585l6.069-.589A1.454,1.454,0,0,0,7.513,29.9l2.434-5.589Z" transform="translate(0.015 -24.025)" fill="currentColor"/>
                      </svg>  
                    </span>
                  </li>
                  <li class="testimonial__ratting--list">
                    <span class="testimonial__ratting--icon">
                      <svg xmlns="http://www.w3.org/2000/svg" width="15.54" height="15.555" viewBox="0 0 20.54 19.555">
                        <path  d="M9.947,24.316c.168-.388.446-.388.616,0L13,29.9a1.447,1.447,0,0,0,1.076.783l6.067.589c.423.039.507.3.191.585L15.77,35.9a1.456,1.456,0,0,0-.411,1.267l1.315,5.95c.092.415-.134.577-.5.364L10.92,40.4a1.45,1.45,0,0,0-1.331,0L4.335,43.485c-.368.214-.589.051-.5-.364l1.315-5.95A1.462,1.462,0,0,0,4.74,35.9L.176,31.862c-.316-.281-.232-.546.191-.585l6.069-.589A1.454,1.454,0,0,0,7.513,29.9l2.434-5.589Z" transform="translate(0.015 -24.025)" fill="currentColor"/>
                      </svg>  
                    </span>
                  </li>
                  <li class="testimonial__ratting--list">
                    <span class="testimonial__ratting--icon">
                      <svg xmlns="http://www.w3.org/2000/svg" width="15.54" height="15.555" viewBox="0 0 20.54 19.555">
                        <path  d="M9.947,24.316c.168-.388.446-.388.616,0L13,29.9a1.447,1.447,0,0,0,1.076.783l6.067.589c.423.039.507.3.191.585L15.77,35.9a1.456,1.456,0,0,0-.411,1.267l1.315,5.95c.092.415-.134.577-.5.364L10.92,40.4a1.45,1.45,0,0,0-1.331,0L4.335,43.485c-.368.214-.589.051-.5-.364l1.315-5.95A1.462,1.462,0,0,0,4.74,35.9L.176,31.862c-.316-.281-.232-.546.191-.585l6.069-.589A1.454,1.454,0,0,0,7.513,29.9l2.434-5.589Z" transform="translate(0.015 -24.025)" fill="currentColor"/>
                      </svg>  
                    </span>
                  </li>
                  <li class="testimonial__ratting--list">
                    <span class="testimonial__ratting--icon">
                      <svg xmlns="http://www.w3.org/2000/svg" width="15.54" height="15.555" viewBox="0 0 20.54 19.555">
                        <path  d="M9.947,24.316c.168-.388.446-.388.616,0L13,29.9a1.447,1.447,0,0,0,1.076.783l6.067.589c.423.039.507.3.191.585L15.77,35.9a1.456,1.456,0,0,0-.411,1.267l1.315,5.95c.092.415-.134.577-.5.364L10.92,40.4a1.45,1.45,0,0,0-1.331,0L4.335,43.485c-.368.214-.589.051-.5-.364l1.315-5.95A1.462,1.462,0,0,0,4.74,35.9L.176,31.862c-.316-.281-.232-.546.191-.585l6.069-.589A1.454,1.454,0,0,0,7.513,29.9l2.434-5.589Z" transform="translate(0.015 -24.025)" fill="currentColor"/>
                      </svg>  
                    </span>
                  </li>
                  <li class="testimonial__ratting--list">
                    <span class="testimonial__ratting--icon">
                      <svg xmlns="http://www.w3.org/2000/svg" width="15.54" height="15.555" viewBox="0 0 20.54 19.555">
                        <path  d="M9.947,24.316c.168-.388.446-.388.616,0L13,29.9a1.447,1.447,0,0,0,1.076.783l6.067.589c.423.039.507.3.191.585L15.77,35.9a1.456,1.456,0,0,0-.411,1.267l1.315,5.95c.092.415-.134.577-.5.364L10.92,40.4a1.45,1.45,0,0,0-1.331,0L4.335,43.485c-.368.214-.589.051-.5-.364l1.315-5.95A1.462,1.462,0,0,0,4.74,35.9L.176,31.862c-.316-.281-.232-.546.191-.585l6.069-.589A1.454,1.454,0,0,0,7.513,29.9l2.434-5.589Z" transform="translate(0.015 -24.025)" fill="currentColor"/>
                      </svg>  
                    </span>
                  </li>
                </ul>
              </div>
              <div class="testimonial__chat--icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="52.472" height="45.687" viewBox="0 0 52.472 45.687">
                  <path  data-name="Chat icon" d="M105.2,149.979a16.71,16.71,0,0,0,3.8-15.4,18.87,18.87,0,0,0-8.881-11.694,25.79,25.79,0,0,0-17.343-3.676,23.55,23.55,0,0,0-15.238,7.706,16.673,16.673,0,0,0-4.108,15.7,40.137,40.137,0,0,1,1.547,7.124,15.559,15.559,0,0,1-1.727,8.677c-.228.414-.486.81-.744,1.229.1.036.15.066.192.06a26.1,26.1,0,0,0,11.034-3.862.865.865,0,0,1,.983-.132A26.582,26.582,0,0,0,91,157.853a23.243,23.243,0,0,0,14.194-7.874Zm9.5,13.924a8.286,8.286,0,0,1-.911-1.3,11.272,11.272,0,0,1-.354-9.049,12.317,12.317,0,0,0-.486-9.4c-.4-.846-.935-1.625-1.493-2.591-.108.408-.162.582-.2.762a18.517,18.517,0,0,1-2.968,7.076c-4.234,6.141-10.236,9.427-17.468,10.65-1.283.216-2.591.288-3.916.432a.579.579,0,0,0,.126.168c.33.216.648.438,1,.624a19.172,19.172,0,0,0,17.037.846,1.037,1.037,0,0,1,.8,0,18.573,18.573,0,0,0,6.033,2.291,11.879,11.879,0,0,0,2.519.246C115.079,164.647,115.115,164.419,114.7,163.9Z" transform="translate(-62.5 -118.975)" fill="currentColor" opacity="0.11"/>
                </svg>
              </div>
            </div>
          </div>
        </div>
        {%- endcase -%}
        {%- endfor -%}
      </div>
      <div class="swiper__nav--btn swiper-button-next color-{{ section.settings.color_scheme_navigation }}"></div>
      <div class="swiper__nav--btn swiper-button-prev color-{{ section.settings.color_scheme_navigation }}"></div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Testimonial",
	"blocks": [
        {
          "type": "testimonial",
          "name": "Testimonial",
          "settings": [
			{
              "type": "image_picker",
              "id": "image",
              "label": "Image"
            },
			{
              "type": "text",
              "id": "heading",
              "default": "Jhon doe",
              "label": "Heading"
            },
			{
              "type": "text",
              "id": "subheading",
              "default": "Manager",
              "label": "Heading"
            },
			{
              "type": "text",
              "id": "text",
              "default": "Lorem ipsum dolor sit, amet consectetur is adipisicing elit. Recusandae iusto veritatis eveniet, amet sint are suscipit!",
              "label": "Text"
            }
          ]
        }
    ],
    "settings": [
		{
          "type": "header",
          "content": "General settings" 
        },
		{
          "type": "image_picker",
          "id": "image",
          "label": "Background image"
        },
		{
          "type": "text",
          "id": "heading",
          "default": "Testimonial",
          "label": "Heading"
        },
        {
            "type": "select",
            "id": "heading_size",
            "options": [
              {
                "value": "h2",
                "label": "Small"
              },
              {
                "value": "h1",
                "label": "Medium"
              },
              {
                "value": "h0",
                "label": "Large"
              }
            ],
            "default": "h1",
            "label": "Heading size"
          },
        {
          "type": "text",
          "id": "subheading",
          "default": "Recently added our store",
          "label": "Subheading"
        },
		{
        "type": "select",
        "id": "bg_color_scheme",
        "options": [
            {
              "value": "accent-1",
              "label": "t:sections.header.settings.color_scheme.options__1.label"
            },
            {
              "value": "accent-2",
              "label": "t:sections.header.settings.color_scheme.options__2.label"
            },
            {
              "value": "background-1",
              "label": "t:sections.header.settings.color_scheme.options__3.label"
            },
            {
              "value": "background-2",
              "label": "t:sections.header.settings.color_scheme.options__4.label"
            },
            {
              "value": "inverse",
              "label": "t:sections.header.settings.color_scheme.options__5.label"
            }
           ],
          "default": "background-2",
          "label": "Background color"
        },
        {
          "type": "header",
          "content": "Testimonial card" 
        },
		{
          "type": "select",
          "id": "image_ratio",
          "options": [
            {
              "value": "adapt",
              "label": "Adapt to image"
            },
            {
              "value": "portrait",
              "label": "Portrait"
            },
            {
              "value": "square",
              "label": "Square"
            },
            {
              "value": "circle",
              "label": "Circle"
            }
          ],
          "default": "circle",
          "label": "Image ratio"
        },
		{
        "type": "select",
        "id": "color_scheme",
        "options": [
            {
              "value": "accent-1",
              "label": "t:sections.header.settings.color_scheme.options__1.label"
            },
            {
              "value": "accent-2",
              "label": "t:sections.header.settings.color_scheme.options__2.label"
            },
            {
              "value": "background-1",
              "label": "t:sections.header.settings.color_scheme.options__3.label"
            },
            {
              "value": "background-2",
              "label": "t:sections.header.settings.color_scheme.options__4.label"
            },
            {
              "value": "inverse",
              "label": "t:sections.header.settings.color_scheme.options__5.label"
            }
           ],
          "default": "background-1",
          "label": "Testimonial card color"
        },
		{
        "type": "header",
        "content": "Slider Settings" 
      },
      {
          "type": "checkbox",
          "id": "slider_enable",
          "label": "Enable slider",
          "default": true
      },
	  
	  {
        "type": "checkbox",
        "id": "show_navigation",
        "label": "Show navigation",
        "default": false
      },
	  {
      "type": "select",
      "id": "color_scheme_navigation",
      "options": [
          {
            "value": "accent-1",
            "label": "t:sections.header.settings.color_scheme.options__1.label"
          },
          {
            "value": "accent-2",
            "label": "t:sections.header.settings.color_scheme.options__2.label"
          },
          {
            "value": "background-1",
            "label": "t:sections.header.settings.color_scheme.options__3.label"
          },
          {
            "value": "background-2",
            "label": "t:sections.header.settings.color_scheme.options__4.label"
          },
          {
            "value": "inverse",
            "label": "t:sections.header.settings.color_scheme.options__5.label"
          }
         ],
        "default": "accent-1",
        "label": "Navigation color"
      },
	  {
        "type": "checkbox",
        "id": "enable_loop",
        "label": "Slider loop",
        "default": true
      },
	  {
        "type": "checkbox",
        "id": "auto_rotate",
        "label": "Auto-rotate slides",
        "default": false
      },
      {
        "type": "range",
        "id": "change_slides_speed",
        "min": 3,
        "max": 9,
        "step": 2,
        "unit": "s",
        "label": "Change slides every",
        "default": 5
      },
	  {
        "type": "header",
        "content": "Slider per view"
      }, 
      {
        "type": "range",
        "id": "products_show_on_desktop",
        "min": 2,
        "max": 8,
        "step": 1,
        "default": 3,
        "label": "Products per row on the desktop"
      },
	  {
        "type": "range",
        "id": "products_show_on_small_desktop",
        "min": 2,
        "max": 8,
        "step": 1,
        "default": 2,
        "label": "Products per row on the small desktop"
      },
      {
        "type": "range",
        "id": "products_show_on_tablet",
        "min": 2,
        "max": 4,
        "step": 1,
        "default": 2,
        "label": "Products per row on the tablet"
      },
      {
        "type": "range",
        "id": "products_show_on_mobile",
        "min": 1,
        "max": 3,
        "step": 1,
        "default": 1,
        "label": "Products per row on the mobile"
      },
		{
      "type": "header",
      "content": "Section padding"
    },
    {
          "type": "paragraph",
          "content": "Desktop"
        },
        {
          "type": "range",
          "id": "padding_top",
          "min": 0,
          "max": 150,
          "step": 5,
          "unit": "px",
          "label": "Padding top",
          "default": 0
        },
        {
          "type": "range",
          "id": "padding_bottom",
          "min": 0,
          "max": 150,
          "step": 5,
          "unit": "px",
          "label": "Padding bottom",
          "default": 0
        },
		{
          "type": "paragraph",
          "content": "Mobile"
        },
		{
          "type": "range",
          "id": "mobile_padding_top",
          "min": 0,
          "max": 150,
          "step": 5,
          "unit": "px",
          "label": "Padding top",
          "default": 0
        },
        {
          "type": "range",
          "id": "mobile_padding_bottom",
          "min": 0,
          "max": 150,
          "step": 5,
          "unit": "px",
          "label": "Padding bottom",
          "default": 0
        }
	],
	"presets": [
    {
      "name": "Testimonial",
      "blocks":[
        {
        	"type": "testimonial"
        },
        {
        	"type": "testimonial"
        },
		{
        	"type": "testimonial"
        },
		{
        	"type": "testimonial"
        },
		{
        	"type": "testimonial"
        }
      ] 
    }
  ]
  }
{% endschema %}
