<nav role="navigation" aria-label="breadcrumbs">
  <ol class="breadcrumbs__list">
    <!-- Home -->
    <li class="breadcrumbs__item">
      <a class="breadcrumbs__link" href="{{ routes.root_url }}">
        {{ 'general.back_to_home_label' | t | default: 'Home' }}
      </a>
    </li>

    {%- case template -%}

    {%- when 'page' -%}
      <li class="breadcrumbs__item">
        <a class="breadcrumbs__link" href="{{ page.url }}" aria-current="page">
          {{ page.title }}
        </a>
      </li>

    {%- when 'product' -%}
      {%- if collection -%}
        <li class="breadcrumbs__item">
          <a class="breadcrumbs__link" href="{{ collection.url }}">
            {{ collection.title }}
          </a>
        </li>
      {%- endif -%}
      <li class="breadcrumbs__item">
        <a class="breadcrumbs__link" href="{{ product.url }}" aria-current="page">
          {{ product.title }}
        </a>
      </li>

    {%- when 'collection' -%}
      {%- if current_tags -%}
        <li class="breadcrumbs__item">
          <a class="breadcrumbs__link" href="{{ collection.url }}">
            {{ collection.title }}
          </a>
        </li>
        <li class="breadcrumbs__item">
          {{ current_tags | join: ' + ' }}
        </li>
      {%- else -%}
        <li class="breadcrumbs__item">
          <a class="breadcrumbs__link" href="{{ collection.url }}" aria-current="page">
            {{ collection.title }}
          </a>
        </li>
      {%- endif -%}

    {%- when 'blog' -%}
      <li class="breadcrumbs__item">
        <a class="breadcrumbs__link" href="{{ blog.url }}" aria-current="page">
          {{ blog.title }}
        </a>
      </li>

    {%- when 'article' -%}
      <li class="breadcrumbs__item">
        <a class="breadcrumbs__link" href="{{ blog.url }}">
          {{ blog.title }}
        </a>
      </li>
      <li class="breadcrumbs__item">
        <a class="breadcrumbs__link" href="{{ article.url }}" aria-current="page">
          {{ article.title }}
        </a>
      </li>

    {%- when 'customers/account' -%}
      <li class="breadcrumbs__item">
        {{ 'customer.account.title' | t | default: 'My Account' }}
      </li>

    {%- when 'customers/addresses' -%}
      <li class="breadcrumbs__item">
        <a class="breadcrumbs__link" href="{{ routes.account_url }}">
          {{ 'customer.account.title' | t | default: 'My Account' }}
        </a>
      </li>
      <li class="breadcrumbs__item">
        Addresses
      </li>

    {%- else -%}
      <li class="breadcrumbs__item">
        <a class="breadcrumbs__link" href="{{ request.path }}" aria-current="page">
          {{ page_title }}
        </a>
      </li>

    {%- endcase -%}
  </ol>
</nav>

{%- comment -%} ================= SCHEMA ================= {%- endcomment -%}

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [
    {
      "@type": "ListItem",
      "position": 1,
      "name": "Home",
      "item": "{{ shop.url }}"
    }

    {%- if template == 'product' -%}
      {%- if collection -%}
      ,{
        "@type": "ListItem",
        "position": 2,
        "name": "{{ collection.title | escape }}",
        "item": "{{ shop.url }}{{ collection.url }}"
      }
      ,{
        "@type": "ListItem",
        "position": 3,
        "name": "{{ product.title | escape }}",
        "item": "{{ shop.url }}{{ product.url }}"
      }
      {%- else -%}
      ,{
        "@type": "ListItem",
        "position": 2,
        "name": "{{ product.title | escape }}",
        "item": "{{ shop.url }}{{ product.url }}"
      }
      {%- endif -%}

    {%- elsif template == 'collection' -%}
      ,{
        "@type": "ListItem",
        "position": 2,
        "name": "{{ collection.title | escape }}",
        "item": "{{ shop.url }}{{ collection.url }}"
      }

    {%- elsif template == 'page' -%}
      ,{
        "@type": "ListItem",
        "position": 2,
        "name": "{{ page.title | escape }}",
        "item": "{{ shop.url }}{{ page.url }}"
      }

    {%- elsif template == 'article' -%}
      ,{
        "@type": "ListItem",
        "position": 2,
        "name": "{{ blog.title | escape }}",
        "item": "{{ shop.url }}{{ blog.url }}"
      }
      ,{
        "@type": "ListItem",
        "position": 3,
        "name": "{{ article.title | escape }}",
        "item": "{{ shop.url }}{{ article.url }}"
      }
    {%- endif -%}
  ]
}
</script>
