 <svg style="display: none">
   <symbol id="icon-caret" viewBox="0 0 10 6">
     <path fill-rule="evenodd" clip-rule="evenodd" d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z" fill="currentColor">
   </symbol>
</svg>

<cart-notification id="offcanvas__mini_cart" tabindex="-1" class="color-{{ section.settings.color_scheme }} gradient">  
  <div class="cart-notification-wrapper h-100">
    <div class="cart_action_drawer_overlay"></div>
    
    <div id="cart-notification" class="cart-notification focus-inset h-100 d-flex flex-direction-column" aria-modal="true" aria-label="{{ 'general.cart.item_added' | t }}" role="dialog" tabindex="-1">
      
      <div class="cart_notification_topbar">
        <div class="cart-notification__header {% if cart == empty %} empty__cart {% endif %}">
          <h2 class="cart-notification__heading item__empty_message {% if cart == empty %} no-js-inline {% endif %}">
            <div class="item__success_message {% if cart == empty %} no-js-inline {% endif %} h4">
              {%- render 'icon-checkmark' -%} {{ 'general.cart.item_added' | t }}
            </div>
          </h2>

        <button type="button" class="cart-notification__close modal__close-button link link--text focus-inset" aria-label="{{ 'accessibility.close' | t }}">
          <svg class="icon icon-close" aria-hidden="true" focusable="false"><use href="#icon-close"></svg>
            </button>
          </div>
        
          <div class="empty__cart__item {% if cart != empty %} no-js-inline {% endif %}">
            <h3 class="caption-large">{{ 'general.cart.empty_title' | t }}</h3>
            {%- if settings.continue_shopping_enable -%}
            <a class="button button--medium button-label" href="{{ settings.continue_shopping_link }}">{{ 'general.continue_shopping' | t }}</a>
            {%- endif -%}
          </div> 

      </div>

      <div class="cart__items {% if cart == empty %}no-js-inline {% endif %} flex-grow-1 y_scroll" id="min-cart-items">
        <form action="{{ routes.cart_url }}" method="post" id="cart" class="w-100">
          <div class="js-contents">
            <div id="cart-notification-product">
              {%- render 'cart-item-notification' -%}	
            </div>
          </div>
        </form>
      </div>
        
	<div class="cart-notification__links {% if cart == empty %} no-js-inline {% endif %}" id="empty__cart__button">
          
           {%- if settings.cart_note_enable or settings.cart_note_enable or settings.coupon_enable  -%}
          <div class="cart__notification--attribute d-flex justify-content-between">
            {%- if settings.cart_note_enable -%}
            <button data-drawer="note" class="cart_notification_action_button">
             <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z" />
            </svg> 
              <span> Note </span>
            </button>
            {%- endif -%}
            {%- if settings.shipping_calc_enable -%}
            <button data-drawer="shipping" class="cart_notification_action_button"> 
			<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-truck"><rect x="1" y="3" width="15" height="13"></rect><polygon points="16 8 20 8 23 11 23 16 16 16 16 8"></polygon><circle cx="5.5" cy="18.5" r="2.5"></circle><circle cx="18.5" cy="18.5" r="2.5"></circle></svg> 
            <span>Shipping</span>
            </button>
            {%- endif -%}
            {%- if settings.coupon_enable -%}
            <button data-drawer="coupon" class="cart_notification_action_button">
              <svg width="24" height="24" fill="none" viewBox="0 0 24 24">
            <circle cx="15" cy="9" r="1" fill="currentColor"/>
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M12 4.75H19.25V12L12.5535 18.6708C11.7544 19.4668 10.4556 19.445 9.68369 18.6226L5.28993 13.941C4.54041 13.1424 4.57265 11.8895 5.36226 11.1305L12 4.75Z"/>
            </svg> 
              <span>Coupon</span>
            </button>
            {%- endif -%}
          </div>
           {%- endif -%}
          
          <div class="cart_notification_links_inner">
            <div class="totals d-flex justify-content-between align-items-center">
              <h3 class="totals__subtotal">{{ 'sections.cart.subtotal' | t }}</h3>
              <p id="cart-notification-subtotal">{{ cart.total_price | money_with_currency }}</p>
            </div>
            
            <div id="cart-notification-discount">
                {%- if cart.cart_level_discount_applications.size > 0 -%}
                <div class="cart_notification--discount mb-20">
                  <ul class="discounts list-unstyled" role="list" aria-label="{{ 'customer.order.discount' | t }}">
                    {%- for discount in cart.cart_level_discount_applications -%}
                    <li class="discounts__discount d-flex justify-content-between">

                      <span class="discount__title">
                        {%- render 'icon-discount' -%}
                        {{ discount.title }}
                      </span>
                      <span class="discount__amount">  (-{{ discount.total_allocated_amount | money }})</span>
                    </li>
                    {%- endfor -%}
                  </ul>
                </div>
                {%- endif -%}
              </div>
            
            <div class="tax-note caption-large rte mb-15">
              {%- if cart.taxes_included and shop.shipping_policy.body != blank -%}
              {{ 'sections.cart.taxes_included_and_shipping_policy_html' | t: link: shop.shipping_policy.url }}
              {%- elsif cart.taxes_included -%}
              {{ 'sections.cart.taxes_included_but_shipping_at_checkout' | t }}
              {%- elsif shop.shipping_policy.body != blank -%}
              {{ 'sections.cart.taxes_and_shipping_policy_at_checkout_html' | t: link: shop.shipping_policy.url }}
              {%- else -%}
              {{ 'sections.cart.taxes_and_shipping_at_checkout' | t }}
              {%- endif -%}
            </div>

            <div class="d-flex justify-content-between cart_notification--footer">
              <a class="button button--secondary button--full-width mb-15" href="{{ routes.cart_url }}">{{ 'general.cart.view' | t }}</a>
              {%- if settings.checkout_btn_enable -%}
              <div class="cart--checkout__button">
                <button type="submit" class="button button--primary button--full-width" name="checkout" form="cart">{{ 'sections.cart.checkout' | t }}</button>
              </div>
              {%- endif -%}
            </div>

            
            
          </div>
          
           {%- if settings.cart_note_enable -%}
          <div class="notification_action_drawer" id="cart_note_drawer">
            <div class="action_drawer_heading">
              <h6 class="mb-15 mt-0">Add note for seller</h6>
            </div>
            <div class="action_drawer_body mb-20">
              <textarea class="text-area" name="note" id="cartNote" class="form-control" rows="3" placeholder="Special instructions for seller" spellcheck="false"></textarea>
            </div>
            <div class="action_drawer_footer d-flex flex-direction-column">
              <button class="button button--primary button__save" data-action="note">Save</button>
              <button class="link button__cancel" data-action="note">Cancel</button>
            </div>
          </div>
          {%- endif -%}
          
          {%- if settings.shipping_calc_enable -%}
          <div class="notification_action_drawer" id="shipping_drawer">
            <div class="action_drawer_heading">
              <h6 class="mb-15 mt-0">Shipping</h6>
            </div>
            <div class="action_drawer_body">
              <div class="select__field_form mb-20">
                <select
                        id="AddressCountry_Shipping"
                        name="address[country]"
                        autocomplete="country"
                        >
                  {{ all_country_option_tags }}
                </select>
                <svg aria-hidden="true" focusable="false" viewBox="0 0 10 6">
                  <use href="#icon-caret" />
                </svg>
              </div>
              
              
              <div id="AddressProvinceContainerNewShiping" class="select__field_form mb-20" style="display: none">
                <select
                        id="AddressProvince_shipping"
                        name="address[province]"
                        autocomplete="address-level1"
                        >
                </select>
                <svg aria-hidden="true" focusable="false" viewBox="0 0 10 6">
                  <use href="#icon-caret" />
                </svg>
              </div>
              
              <div class="input__field_form mb-20">
                <input type="text" class="input__field" id="ShippingAddressZip" autocapitalize="characters" autocomplete="postal-code" placeholder="{{ 'customer.addresses.zip' | t }}">
              </div>
              
            </div>
            <div class="action_drawer_footer d-flex flex-direction-column">
              <button class="button button--primary button__save" data-action="shipping">Shipping Caluculator</button>
              <button class="link button__cancel" data-action="shipping">Cancel</button>
            </div>
            <div class="shipping_rate_message mt-15 no-js-inline text-center">
              <p> {{ 'general.shipping_calculator.address_first_label' | t  }} <span class="shipping_address_count"></span> {{ 'general.shipping_calculator.address_second_label' | t  }} </p>
            </div>
            <div class="shipping_rate_package text-center"></div>
          </div>
		  {%- endif -%}
          
          {%- if settings.coupon_enable -%}
          <div class="notification_action_drawer" id="coupon_drawer">
            <div class="action_drawer_heading">
              <h6 class="mb-15 mt-0"> Apply a discount code</h6>
            </div>
            <div class="action_drawer_body mb-20">
              <input id="coupon_code" placeholder="Enter discount code here" type="text" name="discount" form="cart"value="">
            </div>
            <div class="action_drawer_footer d-flex flex-direction-column">
              <button class="button button--primary button__save" data-action="coupon">Apply</button>
              <button class="link button__cancel" data-action="coupon">Cancel</button>
            </div>
            
            <div class="coupon_wrong_message error no-js-inline mt-15">{{ 'general.coupon_wrong_message' | t }}</div>
          </div>
           {%- endif -%}
          
        </div>

    </div>
  </div>
</cart-notification>