<ul class="offcanvas__menu_ul">
  
  {%- for link in section.settings.menu.links -%}
  <li class="offcanvas__menu_li">
    
    {%- if link.links != blank -%}
    <a class="offcanvas__menu_item" href="{{ link.url }}"> {{ link.title | escape }} </a>
    
     <ul class="offcanvas__sub_menu">
       {%- for childlink in link.links -%}
       {%- if childlink.links != blank -%}
       <li class="offcanvas__sub_menu_li">
         <a href="{{ childlink.url }}" class="offcanvas__sub_menu_item">{{ childlink.title | escape }}</a>
       	 <ul class="offcanvas__sub_menu">
            {%- for grandchildlink in childlink.links -%}
           	<li class="offcanvas__sub_menu_li">
              <a class="offcanvas__sub_menu_item" href="{{ grandchildlink.url }}">{{ grandchildlink.title | escape }}</a>
            </li>
           	{%- endfor -%}
         </ul>
       </li>
       {%- else -%}
       <li class="offcanvas__sub_menu_li">
         <a href="{{ childlink.url }}" class="offcanvas__sub_menu_item">{{ childlink.title | escape }}</a>
       </li>
       {%- endif -%}
       {% endfor %}
    </ul>
    
    {%- else -%}
    <a class="offcanvas__menu_item" href="{{ link.url }}"> {{ link.title | escape }}</a>
    {%- endif -%}
  </li>
  {%- endfor -%}
  
  
  
  {%- if shop.customer_accounts_enabled and account_icon -%}
  <li class="offcanvas__menu_li">
    <a href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}" class="offcanvas__menu_item header__actions_btn">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
        <path fill="currentColor" d="M313.6 288c-28.7 0-42.5 16-89.6 16-47.1 0-60.8-16-89.6-16C60.2 288 0 348.2 0 422.4V464c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48v-41.6c0-74.2-60.2-134.4-134.4-134.4zM416 464c0 8.8-7.2 16-16 16H48c-8.8 0-16-7.2-16-16v-41.6C32 365.9 77.9 320 134.4 320c19.6 0 39.1 16 89.6 16 50.4 0 70-16 89.6-16 56.5 0 102.4 45.9 102.4 102.4V464zM224 256c70.7 0 128-57.3 128-128S294.7 0 224 0 96 57.3 96 128s57.3 128 128 128zm0-224c52.9 0 96 43.1 96 96s-43.1 96-96 96-96-43.1-96-96 43.1-96 96-96z" />
      </svg> <span class="offcanvas__menu_text__icon"> {%- if customer -%}My Account{%- else -%}Login / Register{%- endif -%} </span>
    </a>
  </li>
  {%- endif -%}

   {%- if wishlist_icon -%}
  <li class="offcanvas__menu_li">
    <a href="/pages/wishlist" class="offcanvas__menu_item header__actions_btn">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
        <path fill="currentColor" d="M462.3 62.7c-54.5-46.4-136-38.7-186.6 13.5L256 96.6l-19.7-20.3C195.5 34.1 113.2 8.7 49.7 62.7c-62.8 53.6-66.1 149.8-9.9 207.8l193.5 199.8c6.2 6.4 14.4 9.7 22.6 9.7 8.2 0 16.4-3.2 22.6-9.7L472 270.5c56.4-58 53.1-154.2-9.7-207.8zm-13.1 185.6L256.4 448.1 62.8 248.3c-38.4-39.6-46.4-115.1 7.7-161.2 54.8-46.8 119.2-12.9 142.8 11.5l42.7 44.1 42.7-44.1c23.2-24 88.2-58 142.8-11.5 54 46 46.1 121.5 7.7 161.2z" />
      </svg>
      <span class="offcanvas__menu_text__icon"> Wishlist </span>
      <span class="header__actions_btn_cart_num wishlist__count"></span>
    </a>
  </li>
  {%- endif -%}
</ul>